[2015-09-08 10:15] lindehoff opened #1 "Connection aborted"
First of, thank you for this script it saved me a lot of coding.

However if i call [get_overview](https://github.com/persandstrom/python-verisure/blob/master/verisure/mypages.py#L141) to often i get the following error:
[code]

Is there a limit on how often you should call get_overview?

[2015-09-08 14:04] persandstrom commented on #1
I have not tested how this performs in a threaded environment. As long as it is sequential there should not be any limitations on the client side. I would guess that Verisure has some kind of limit on their servers. How often are you calling get_overview?

[2015-09-08 14:13] lindehoff commented on #1
Ok I also think it's on the Verisures side. I started with 10 sec for testing purposes and got the error. I now changed to 30 sec and I don't get any errors.

[2015-09-08 20:34] persandstrom commented on #1
I did a test program and tried to get it to fail, but could not.

[code]

I ran this for a few minutes. Could you post an example showing how you used the module?

[2015-11-11 18:24] #1 closed

[2015-11-13 16:10] lindehoff commented on #1
Sorry I didn't reply sooner, I did some more testing and everything seems to work. The problem was probably on my side.

[2015-11-13 16:13] lindehoff opened #2 "Get Devices"
Is it possible to get a list of the different devices on MyPage?

[2015-11-13 18:59] persandstrom commented on #2
Verisure has implemented so that they have one request for each device type and mypages.py reflects that.

It would be quite easy to add a function that sends a request for each device type and returns a list of overviews. Is that what you need?

[2015-11-15 13:48] lindehoff commented on #2
Yes that would be very helpfull. I'm trying to write a plugin for my Home Automation system.

[2015-11-15 20:26] persandstrom commented on #2
I have added a new function ```get_overviews()```. It does not take any parameters and will read the status of all devices.

May I ask which home automation system you are writing a plugin for?

[2015-11-15 21:06] lindehoff commented on #2
That's truly amazing, thank you. The system I'm using is Indigo, http://www.indigodomo.com
When my plug in is done I will post it on GitHub and, of course, reference to this project which will be required to use my plugin.

[2015-11-18 19:12] lindehoff commented on #2
It works great, I have now started my development of the plug-in and I have [publish the first release](https://github.com/lindehoff/Indigo-Verisure/releases).

[2015-11-18 19:13] lindehoff opened #3 "Yale Locks"
Any chance off supporting Yale doorman?

[2015-11-18 19:13] persandstrom commented on #2
Nice!

[2015-11-18 19:17] persandstrom commented on #3
I don't have the locks myself so it will be hard for me to try to reverse engineer it. I guess they don't have an open API.

[2015-11-18 19:17] #2 closed

[2015-11-18 19:23] lindehoff commented on #3
I do not either but I got an inquiry from a user using the plugin. I will try to examine it more to see if he can control the lock through MyPages. If so, it's should be solvable.

[2015-11-18 19:31] persandstrom commented on #3
Hope it is.

Fun to hear that my script is used :)

[2015-11-18 20:05] lindehoff commented on #3
It's very useful, thank you very much.
I was poking around MyPage and found `/remotecontrol/lockunlock.cmd`it seems to be a possible API for locks. But I think it will be very difficult to reverse engineer without a lock.

[2015-11-18 20:33] HebronNor commented on #3
I have the lock. How can I help?

On Wed, Nov 18, 2015, 21:05 Jacob Lindehoff <notifications@github.com>
wrote:

[2015-11-19 12:33] lindehoff commented on #3
@HebronNor Do you get any information about the lock status when you go to https://mypages.verisure.com/remotecontrol
You have to be logged in.

[2015-11-19 12:41] HebronNor commented on #3
Yes;

    {
    "date":"I dag 09:02",
    "notAllowedReason":"",
    "image":"locked",
    "name":"",
    "operational":true,
    "location":"xXx",
    "changeAllowed":true,
    "id":"xXx",
    "label":"Låst",
    "type":"DOOR_LOCK",
    "secureMode":false,
    "status":"locked"
    }

Haven't had time to check the different POST commands yet, will do it this evening.

[2015-11-19 20:51] HebronNor commented on #3
@persandstrom Here it is...

Lock:

    code=xXx&deviceLabel=xXx&state=LOCKED&_csrf=xXx

Unlock:

    code=xXx&deviceLabel=xXx&state=UNLOCKED&_csrf=xXx

Need anything else?

[2015-11-19 21:04] persandstrom commented on #3
That should be enough, thanks. Maybe you can test it when I'm done?

[2015-11-19 21:07] HebronNor commented on #3
Of cource, let me know :)

[2015-11-21 12:48] persandstrom commented on #3
I have added commands for locks now.
could you please see if it works @HebronNor

Tell me if there is something that does not have the right "feel" as well. It is hard to know when I can't try it.

[2015-11-21 12:50] HebronNor commented on #3
@persandstrom Sure :) I'll get it done tonight or tomorrow night.

[2015-11-23 14:28] lindehoff opened #4 "Error when Verisure is down for maintenance"
When MyPage is down for maintenance you get the following error:
[code]

[2015-11-23 14:34] HebronNor commented on #4
Here is a list of errors that have occurred on MyPage since October 1st.
[Verisure-logs.txt](https://github.com/persandstrom/python-verisure/files/41660/Verisure-logs.txt)

[2015-11-23 16:48] persandstrom commented on #4
@lindehoff Thanks, I'll fix that.

@hebronnor how have you made these logs?  Is python-verisure involved and could cause the issue

[2015-11-23 16:51] HebronNor commented on #4
They are exported from a uptime service (uptime robot). python-verisure is
not involved,  in my experience it is usually a quick code push.

On Mon, Nov 23, 2015, 17:48 Per Sandström <notifications@github.com> wrote:

[2015-11-23 20:07] HebronNor commented on #3
I am getting duplicate entries for alarm and lock, when I type `get lock` or `get alarm`:

[code]

Haven't tried to lock it yet, as I fear I also might arm the alarm and the kids are sleeping... :-p

[2015-11-23 21:08] persandstrom commented on #3
OK, so the '/remotecontrol' url will give a JSON array with one or more items, first the alarm status and than one item for each lock? That mean I can't read the alarm or lock status without reading the other.
I may have to merge the '```get alarm``` and ```get lock```  command to ```get remotecontrol``` which will return both alarm and lock overviews, which might be a bit confusing to the user.

[2015-11-24 08:49] HebronNor commented on #3
Yes, but it seems that the lock is first, then the alarm. How multiple locks would look I do not know, I only have one. I agree that merging `get alarm` and `get lock` would be confusing.

You can filter the results for either alarm or locks. Yeah you will get a json with both, but just show what the user requested. There is a type identifier in the arrays that let you know what it is:

    "type"

[2015-11-26 21:18] persandstrom commented on #3
I have done some changes (read total refactoring) to python-verisure to get it a bit more structured.
There should be no changes to the command line interface at all, except that ```get`'` on lock will only return lock overview and ```get``` on alarm will only return alarm overview.

When using the module an overview will be read with
[code]

and a value will be set with
[code]
hope this is to you

[2015-11-27 08:02] HebronNor commented on #3
Great:) I will get it tested over the weekend.

[2015-11-29 21:37] HebronNor commented on #3
Hm, I seem to be getting timeout on all my `get` commands, but logging in on the website works. Might be a bit slow, I'll try again tomorrow.

[2015-12-02 08:16] lindehoff commented on #3
It works fine for me, thanks for the update.

[2015-12-02 08:25] HebronNor commented on #3
I still had the same problem on Monday, didn't test yesterday. I'll do another test tonight.

[2015-12-03 15:36] persandstrom commented on #3
do you still get a timeout @hebronnor ?

[2015-12-03 17:28] HebronNor commented on #3
@persandstrom nope, now it works :+1:  `get alarm` and `get lock` work as expected. I have the house full of people at the moment, I'll try `set lock` tonight.

[2015-12-03 21:17] HebronNor commented on #3
Oh yeah, it works :D I've tried the following commands:

[code]

Awesome! :+1:

[2015-12-04 06:20] persandstrom commented on #3
Great!

[2015-12-04 06:20] #3 closed

[2015-12-05 11:49] persandstrom commented on #4
I think this is solved.
Instead of the previous unreadable error you should get a LoginError with the message "Login failed, myPages might be down".

[2015-12-05 11:50] HebronNor commented on #4
Will this happen with the timeout error that I saw when testing the lock integration?

[2015-12-05 11:58] persandstrom commented on #4
No, maybe I should take the time to go through all calls to the server.
The drawback in catching errors and replacing them with readable ones is that I loose the original information needed to fix bugs. So I'm a bit torn here.

[2015-12-05 12:00] HebronNor commented on #4
`--debug` flag maybe? :)

[2015-12-05 12:03] persandstrom commented on #4
Yeah, why not. That might be good for the CLI.

[2015-12-05 12:05] HebronNor commented on #4
You could add the option of something like `myPages.debug(true)` or something like that if the user explicitly wants the exception, or for testing purposes :)

[2015-12-21 11:33] persandstrom commented on #4
@lindehoff I noticed that you had forked and added some additional error handling. Please create a PR when you are done :)

[2015-12-21 12:03] lindehoff commented on #4
Almost ready, will PR soon.

[2015-12-21 13:36] persandstrom commented on #4
PR Merged, closing issue

[2015-12-21 13:36] #4 closed

[2016-01-10 14:37] lindehoff opened #11 "Feature request - Change Auto Lock settings for locks"
It would be great if one could change the auto lock feature.
You can get the current staten state for the Auto Lock from:
Get: https://mypages.verisure.com/settings/autorelock
Response: `{"doorLocks":[{"autoRelockEnabled":true,"deviceLabel":"xxxx xxxx","description":"SmartLock - Location"}]}`

To change the state:
Post: https://mypages.verisure.com/settings/setautorelock.cmd
Data:  `enabledDoorLoc

[2016-01-10 16:53] tbergo opened #12 "Error if location includes œøå"
Get the following error if 'location' includes "œøå".

Traceback (most recent call last):
  File "verisure.py", line 127, in <module>
    print_overviews(verisure.__dict__[dev].get())
  File "verisure.py", line 17, in print_overviews
    print_overview(overview)
  File "verisure.py", line 26, in print_overview
    print('\t{}: {}'.format(key, value))
UnicodeEncodeError: 'ascii' codec can't encode

[2016-01-10 16:54] persandstrom commented on #12
I will take a look at this. Thanks

[2016-01-10 17:07] persandstrom commented on #11
Ok, i didn't know about this feature. Seem quite easy to add

[2016-01-10 20:48] persandstrom commented on #12
My guess is that this is an issue with your terminal not being able to display the characters.

if you open the terminal and type 'ø' and then enter, the response should be something like
[code]
if the character is supported.

If you get:
[code]
Then you have to change your "locale" setting. How to do that might depend on your system.

Please tell me if this solved the issue or if you need more he

[2016-01-11 18:59] tbergo commented on #12
I will look into it, and see if it's related to my terminal setting. Thanks.

[2016-01-11 20:05] persandstrom commented on #11
The settings was a bit more different from overviews than I expected. Hopefully I'll get some time to look at it soon.

[2016-01-13 21:35] persandstrom commented on #11
In #13 I have succeeded to set the location of a smartplug. I did this as a first step to understand how settings work.

To be continued..

[2016-01-14 20:58] persandstrom commented on #11
Done

[2016-01-14 20:58] #11 closed

[2016-01-20 18:41] #12 closed

[2016-01-28 21:29] Snille opened #17 "Getting unicode errors..."
Hi!
I'm getting: UnicodeEncodeError: 'ascii' codec can't encode character u'\xf6' in position 10: ordinal not in range(128) when trying to receive the name (last person who armed/disarmed) of myPages.alarm.get() function.
My wife has an "ö" in her last name. :)

[2016-01-29 07:56] lindehoff commented on #17
I think it's your terminal, have a look at this issue #12

[2016-01-29 08:22] Snille commented on #17
Ah! Thank you. I had forgot to do "dpkg-reconfigure locales" on the new server. :)

[2016-01-29 08:22] #17 closed

[2016-01-29 10:28] Snille commented on #17
Some more info if anyone else stumbles on this.
I'm running Ubuntu Server 14.04.3 (in an LXC environment).
If you get this problem it's probably a locale Issue.
More info here: https://askubuntu.com/questions/162391/how-do-i-fix-my-locale-issue
This is want I did (with sudo if you are not root):
# echo 'LC_ALL="en_US.UTF-8"' | sudo tee -a /etc/default/locale
# echo 'LANG="en_US.UTF-8"' | sudo tee

[2016-01-29 10:31] persandstrom commented on #17
Thanks for the instructions! I'll add something in the exception message that will a bit clearer to the users.

[2016-01-30 12:44] lindehoff opened #18 "Unable to login with python 2.6"
My home automation system is using python 2.6, the old version, before BeautifulSoup, worked fine.
But now I get the following error, I don't know how much work it will be to make it work with python 2.6.

[code]

[2016-01-30 13:17] persandstrom commented on #18
Ok. I'll take a look at it. It would be possible to stop using beautifulsoup if it causes problems.

The error message sais:
Python's built-in HTMLParser cannot parse the given document. This is not a bug in Beautiful Soup. The best solution is to install an external parser (lxml or html5lib), and use Beautiful Soup with that parser. See http://www.crummy.com/software/BeautifulSoup/bs4/doc/#instal

[2016-01-30 14:27] lindehoff commented on #18
Yes if lxml or html5lib works with Python 2.6 that's a possibly

[2016-01-30 15:03] lindehoff commented on #18
It worked, I installed html5lib and six, then I changed the row https://github.com/persandstrom/python-verisure/blob/master/verisure/session.py#L147 to `soup = BeautifulSoup(response.text, 'html5lib')`

[2016-01-30 15:59] persandstrom commented on #18
I reverted to regex again.
Could you please see if the branch 'remove_beautifulsoup' works better?

[2016-01-30 17:30] lindehoff commented on #18
I have check and it seams to work fine, thx.

[2016-01-30 18:54] persandstrom commented on #18
Fixed in #19

[2016-01-30 18:54] #18 closed

[2016-02-20 19:24] persandstrom opened #22 "Heatpump status"
/overview/heatpump no longer exists seems to be replaced by /overview/temperaturecontrol

Should remove the heat pump device and replace it with a temperature control device.

[2016-02-20 19:28] persandstrom opened #23 "Nest"
new overview "/overview/nest"

[2016-02-20 21:38] persandstrom commented on #22
Works now

[2016-02-20 21:52] #22 closed

[2016-03-15 20:18] #23 closed

[2016-03-21 23:08] Risca opened #28 "Feature: pull historical data"
It would be a nice feature to be able to pull older measurements from a verisure device, for those times when your server is down and you miss out on a few measurements.

[2016-03-22 05:43] persandstrom commented on #28
That would be a nice addition.
For the climate devices it might be possible to get the graph data. And for other devices there is the event list.

[2016-04-21 07:17] persandstrom commented on #28
Is the event list something you are interested in as well, or can I close this issue?

I don't have a lot of time to spare right now so it might take a while before I start looking at the event list...

[2016-04-21 17:29] Risca commented on #28
You can close the issue.

[2016-04-21 17:29] #28 closed

[2016-06-26 06:34] persandstrom opened #32 "Event log"
It should be possible to get the event log.

[2016-06-28 08:45] persandstrom commented on #28
PR #33 has added the possibility to get event log as well

[2016-06-28 08:45] persandstrom commented on #32
#33

[2016-06-28 08:46] #32 closed

[2016-07-18 12:02] palloberg opened #38 "Support multiple alarm systems"
Would it be possible to support multiple systems/installations on the same login?

The Verisure pages seems to choose the current system by adding "?inst=N" to the start.html URL where N is the installation number starting from 1.

I tested changing URL_START in session.py to include "?inst=N" and that gave me data from the correct system.  Having the ability to control this from the API and the c

[2016-07-19 19:43] persandstrom commented on #38
I have created a branch called multiple_systems. It should be possible to select system by using the ``` -i ``` flag
``` python verisure.py username password -i 2 get alarm ```
Could you try this and see if it works as expected? I don't have multiple systems myself.

Would it be best to add a new command to get the system names?
``` python verisure.py username password get systems ```
That returns

[2016-07-25 12:14] donnib commented on #3
Is there a way to get a event from the system when the lock changes from UNLOCK/LOCK or the other way around ? I am guessing the answer is no since we don't register with Verisure to get events back (read can't do it). I guess only option is polling which Verisure might not be all that happy about.

[2016-07-25 12:25] persandstrom commented on #3
We can not get events, only polling as you say. Would be usefull though. Do you if it is possible to register for events?

[2016-07-25 12:49] donnib commented on #3
Not as far as i know :(

[2016-08-06 16:56] persandstrom commented on #38
@palloberg were you able to test it?

[2016-08-26 11:07] wencevdm opened #40 "Timeout might be too low"
The mypages webapp tends to be slow from time to time and thus the timeout of 3 seconds is often exceeded, resulting in errors. I've raised it to 10 on my system by editing the session.py and all works fine now.

[2016-08-26 11:19] persandstrom commented on #40
Ok, I havn't noticed this but I don't see any drawbacks on having a little longer timeout

[2016-08-26 12:55] lindehoff commented on #40
I have noticed the same problem

[2016-08-26 14:44] persandstrom commented on #40
The timeout is now 10s

[2016-08-26 14:44] #40 closed

[2016-09-19 18:53] HyperDevil opened #42 "InsecurePlatformWarning: A true SSLContext object is not available."
vsure user@domain.net password get alarm

Generates this error:
/usr/local/lib/python2.7/dist-packages/requests/packages/urllib3/util/ssl_.py:122: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. You can upgrade to a newer version of Python to solve this. For more information,

[2016-09-19 20:56] persandstrom commented on #42
I found a post on stackoverflow and it solved the problem on ubuntu 14.04 for me.

http://stackoverflow.com/questions/29134512/insecureplatformwarning-a-true-sslcontext-object-is-not-available-this-prevent

[code]

[2016-10-03 16:42] #42 closed

[2016-11-14 13:45] lindehoff opened #47 "Door and Windows sensor"
I just noticed that you can see the status of the door/window sensor in the mobile app.
It would be great if you could include this feature.

[2016-11-14 13:49] persandstrom commented on #47
Great Ill fix it ASAP

[2016-11-14 13:52] persandstrom commented on #47
Ok,  only in app so far. We have to wait until it's shown in mypages

[2016-11-14 13:55] lindehoff commented on #47
Ok, I thought so.
Have you considered changing to the mobile app API, https://e-api02.verisure.com

[2016-11-14 13:56] persandstrom commented on #47
Is there any information on how that API works?

[2016-11-14 14:39] lindehoff commented on #47
No, sorry, I have reverse engineered it a bit if you want to try:
Auth
`curl -H 'Host: e-api02.verisure.com' -H 'Content-Type: application/xml;charset=UTF-8' -H 'Authorization: Basic {{cred}}' 'https://e-api02.verisure.com/xbn/2/cookie'`
{{cred}} = `echo CPE/{{userid}}:{{password}} | base64`

Getting info for installation
`curl -H 'Host: e-api02.verisure.com' -H 'Cookie: vid={{Sring you gott from

[2016-11-14 21:14] persandstrom commented on #47
Using the API is probably a good idea. I'll take a look at it. Thanks

[2016-11-27 12:20] TheLion commented on #47
Any update on this? Would really like to get my door-/window-sensor status...

[2016-11-27 12:39] persandstrom commented on #47
I haven't done anything yet, and I'm a bit torn about moving to the app-api since it is harder to reverse engineer, and I only have a few of the verisure components myself. What I might do is to add a special function to get status from the app-api but keep the rest of the implementation. I will try to get something out quite soon, even if it might not be the final solution.

[2016-11-27 19:02] lindehoff commented on #47
If you want help with reverse engineering the app-api I'm happy to help.

[2016-11-28 20:54] persandstrom commented on #47
I have created a PR for moving to the app API #48. Quite big portions of the application will be rewritten as a result of this. So far not much is done, but I will keep pushing the progress to github.

[2016-12-06 20:42] persandstrom commented on #47
I have implemented support for overview (including door sensors), smartplug, alarm, eventlog and climate history using the app-api on the branch "app_api". The missing components are locks and smartcams, I do not have these devices myself so I would need some help to add that.

[2016-12-06 20:46] TheLion commented on #47
That sounds great. I will give it a test tomorrow.

I do also not have smartcams or locks unfortunately.

[2016-12-06 22:45] Redferne commented on #47
I have a lock. Can give it a go, if I remember 😄

On Tue, 6 Dec 2016, 21:46 TheLion, <notifications@github.com> wrote:

--

///Rickard

[2016-12-06 23:16] TheLion commented on #47
It works. I have two installations in one account and strangely enough the script gets the status from installation 2 and the "normal" script, gets installation 1.

Did I forget a parameter when querying?

[2016-12-07 12:45] persandstrom commented on #47
@TheLion -i is not implemented, i will add that

@Redferne It would be great if you could figure out the curl commands to get and set lock state, and enable disable autolock.

[2016-12-07 12:55] lindehoff commented on #47
Great work @persandstrom, I also can help with the locks but I don't own a SmartCam so I can't help with that.
I thing we need to look at the logout method also since we need to "deactivate" the VIDs we get from Verisure. I think that they have no time limit and can be used "forever". When we use the login method we get a new one and we don't know the old one but the still works unless we logout p

[2016-12-07 13:31] lindehoff commented on #47
**Get lock state**
Action: GET
Path: /installation/{{guiid}}/doorlockstate/search
Response: `[{"zone":"","deviceLabel":"","area":"","userIndex":4,"userString":"","method":"","lockedState":"LOCKED","currentLockState":"LOCKED","pendingLockState":"NONE","eventTime":"2016-12-07T13:18:48.000Z","secureModeActive":false,"motorJam":false,"paired":true}]`

**Change Lock State**
Action: PUT
Path: /installat

[2016-12-07 21:41] persandstrom commented on #47
@TheLion -i flag added and also a new installations command to display information about the installations. Is it better if the -i flag takes the ```giid``` as input instead? Or is there any other unique identifier to use? The order in which they are returned does not seem like a reliable identifier.

Thanks @lindehoff I will add this, could you also take a look at activating and deactivating auto

[2016-12-08 06:34] lindehoff commented on #47
Sorry forgot about the Lock Config, here we go:
**Get Lock Config**
Metod: GET
Path: /installation/{{GIID}}/device/{{Device Lable}}/doorlockconfig
Data: None
Response: ```{
	"cid": "",
	"deviceId": "",
	"volume": "LOW",
	"voiceLevel": "ESSENTIAL", Possible States: ESSENTIAL, NORMAL
	"autoLockEnabled": false,
	"immediateLockOnRemoteArm": false
}```
Possible States for `volume`: SILENCE, LOW, HIGH
P

[2016-12-08 18:53] TheLion commented on #47
Works great this far.

I use Domoticz to automate some thing at home, and I use the following script to get all the information I need from Verisure in one query (this because they block an IP with to many requests) with the "normal" Verisure module and write it into Domoticz.

`
import verisure
import urllib

myPages = verisure.MyPages('[username]', '[password]')
myPages.login()
alarm_overview =

[2016-12-22 21:14] tcastberg opened #50 "Error in setup.py for branch app_api"
# pip install git+https://github.com/persandstrom/python-verisure.git@app_api
Collecting git+https://github.com/persandstrom/python-verisure.git@app_api
  Cloning https://github.com/persandstrom/python-verisure.git (to app_api) to /tmp/pip-Ud7hn7-build
    Complete output from command python setup.py egg_info:
    running egg_info
    creating pip-egg-info/vsure.egg-info
    writing requirements t

[2016-12-23 05:14] persandstrom commented on #50
Should be fixed now, please try again

[2016-12-24 16:55] tcastberg commented on #50
Works now. :)

[2016-12-24 16:55] #50 closed

[2016-12-29 15:46] tnemrap opened #51 "Local Language"
Is it possible to add an parameter to get eventlog in other language?

/Mike

[2016-12-29 19:09] persandstrom commented on #51
That would be quite easy in the current version, but right now I am working on a version that will use the app-api instead of the web-api, and I'm not sure how to do it there. I will see if I can figure it out.

[2017-01-09 19:28] persandstrom commented on #47
solved in #48

[2017-01-09 19:28] #47 closed

[2017-01-09 19:29] persandstrom commented on #38
Should work now

[2017-01-09 19:29] #38 closed

[2017-01-13 08:44] christian-ek opened #52 "TypeError: must be str, not bytes"
Hi,
Tried to run vsure but got an error.

pi@raspberrypi:~ $ vsure e-mail password get all
Traceback (most recent call last):
  File "/usr/local/bin/vsure", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.4/dist-packages/verisure/__main__.py", line 174, in main
    with MyPages(args.username, args.password) as verisure:
  File "/usr/local/lib/python3.4/dist-packages/verisu

[2017-01-13 15:36] persandstrom commented on #52
Try to update to the latest version and see if the error persists. The command is ```vsure email passwd overview``` in the latest version.

[2017-01-13 22:46] christian-ek commented on #52
I believe I have the latest version or am I doing something wrong? See below.

root@raspberrypi:/home/pi # pip install vsure
Requirement already satisfied: vsure in /usr/local/lib/python3.4/dist-packages
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.4/dist-packages (from vsure)
root@raspberrypi:/home/pi # vsure MAIL PW overview
Traceback (most recent call last):
  File "

[2017-01-14 19:20] persandstrom commented on #52
Ah, you are correct, the latest version is not released to pypi yet.
Try installing using ```pip install git+https://github.com/persandstrom/python-verisure.git```.

[2017-01-14 21:29] TheLion opened #53 "vacationmode missing"
Hi,

You really did a great job with the app_api implementation. Works great!

I just found out the vacationmode status is missing in the app_api overview.

Any change of implementing that?

Regards,

Martijn

[2017-01-15 13:10] persandstrom commented on #53
Vacationmode is added in a new function in PR #54.

[2017-01-15 13:45] TheLion commented on #53
Great!

[2017-01-15 18:41] #53 closed

[2017-01-15 18:47] TheLion commented on #53
Erhm vacationmode only returns

{}

Nothing more.

[2017-01-15 18:48] persandstrom commented on #53
That is because you dont have vacation mode set ☺

On Jan 15, 2017 7:47 PM, "Martijn Janssen" <notifications@github.com> wrote:

[2017-01-15 18:52] TheLion commented on #53
Oh. Ok. So what is different than the old API. With that a value was always returned.

I can work with that.

[2017-01-15 18:59] TheLion commented on #53
What does the first 'active': False stand for?

`{'active': False,
 'cid': '01026506',
 'fromDate': '2017-01-15T09:00:00.000Z',
 'temporaryContactName': '',
 'temporaryContactPhone': '',
 'toDate': '2017-01-15T21:00:00.000Z',
 'turnOffPetImmunity': False}
`
Shouldn't that be true?

[2017-01-15 20:38] persandstrom commented on #53
I don't know, seems like it should be true looking at the date and times. Maybe the alarm has to be armed as well?

[2017-01-15 22:13] christian-ek commented on #52
Hi,
Sadly still not working for me.

`root@raspberrypi:/home/pi # pip install git+https://github.com/persandstrom/python-verisure.git
Collecting git+https://github.com/persandstrom/python-verisure.git
  Cloning https://github.com/persandstrom/python-verisure.git to /tmp/pip-zvkjc_nx-build
  Requirement already satisfied (use --upgrade to upgrade): vsure==1.1.0 from git+https://github.com/persandst

[2017-01-15 23:14] TheLion commented on #53
It looks like it took some time to switch to true. Very strange,

Thanks for implementing it though! :-)

[2017-01-31 10:02] persandstrom commented on #52
Have you fond any solution or cause? I have tried to recreate the error, but not succeeded.

[2017-02-02 08:10] hanspnyholm opened #55 "Doorlock status"
No more possible to see doorlock status anymore?
A example of this would be great.

[2017-02-02 08:13] persandstrom commented on #55
It should be included in the overview command
```vsure user@example.com mypassword overview```

Do you see it there?

[2017-02-02 13:24] hanspnyholm commented on #55
Yes.
A exampel how to sort that info out should be great.
And how to lock the door.

[2017-02-03 07:11] christian-ek commented on #52
No sadly i still get the same error

[2017-02-03 07:13] christian-ek commented on #52
I get the same when trying module.

[code]

[2017-02-06 19:12] persandstrom commented on #55
I have added two new example

[2017-02-06 21:48] hanspnyholm commented on #55
When you send the lock command when its already locked you get a error message.
Its the same the other way to.

Traceback (most recent call last):
  File "/usr/local/bin/vsure", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/verisure/__main__.py", line 225, in main
    args.new_status))
  File "/usr/local/lib/python2.7/dist-packages/verisure/session.py", l

[2017-02-07 19:15] persandstrom commented on #55
Thanks for the input, should be solved now

[2017-02-11 12:33] #55 closed

[2017-02-12 16:10] JonasStenmarck opened #56 "UnicodeEncodeError: 'ascii' codec can't encode character '\xc5' in position 1: ordinal not in range(128)"
Hi I just realised when my wife have been the last to unarm the door, vesue can´t encode right. Her name is "Åsa" ;)
Is this due to my system or is this Ure code? (Awsome by the way!) I tried to fiddle with the locale and LANG variable.

$ vsure e-mail password armstate
{'changedVia': 'CODE',
 'cid': '12345678',
 'date': '2017-02-09T17:41:14.000Z',
 'name': Traceback (most recent call last):
.
.
.

[2017-02-12 17:29] persandstrom commented on #56
Hi!
A simple test (if you are on a linux system) to see if 'Å' is a supported character  is to type ```Å``` and press enter. If the respons is ```Å: command not found``` then it works. If it sais ```\xc5: command not found``` then there is something wrong with the locale.

[2017-02-13 14:12] xibriz opened #57 "Push messages"
Great project! Was about to reverse engineer the app my self. Just took a quick google search on the API URL first and ended up here!

Anyway, have you looked at how the Verisure app recieves push messages? It would be nice to register a "fake app" to recieve push messages as well.

[2017-02-13 14:34] persandstrom commented on #57
Hi!
I have thought about it but not done anyhing yet. I agree that it would be a really nice addition. If you have the skills I would gladly accept a PR, if not I will probably look in to it soon.

[2017-02-14 16:44] JonasStenmarck commented on #56
Of corse, Python use LC_ALL that solved it ;) -Thanx!

[2017-02-14 18:16] #56 closed

[2017-02-15 06:49] lindehoff commented on #57
That would be the perfect solution, no more polling. But is it even possible, have you seen a project that accomplish to fake a push client?

[2017-02-15 07:17] xibriz commented on #57
I don't know if it's possible.. but I have a dream ;)

But the Verisure system acts strange as it is. If I try to lock an open door (Yale Doorman) I get the "Unable to lock" push and email right away. But when I use the Smart Plan to turn on a Smart Plug when I turn on the alarm, it can be a delay of almoast a minute before the Smart Plug turns on after the alarm.

I remember when I first got the

[2017-02-23 15:26] magnushasselquist opened #58 "XBN Database is not activated"
Suddenly now I get the following response when I try to ask for overview:

Traceback (most recent call last):
  File "/usr/local/bin/vsure", line 9, in <module>
    load_entry_point('vsure==1.1.1', 'console_scripts', 'vsure')()
  File "/usr/local/lib/python2.7/dist-packages/verisure/__main__.py", line 204, in main
    session.login()
  File "/usr/local/lib/python2.7/dist-packages/verisure/session.

[2017-02-23 17:35] TheLion commented on #58
I have the same issue. Since this afternoon.

[2017-02-23 19:36] persandstrom commented on #58
@magnushasselquist @TheLion Thanks for the info

Should be solved now

[2017-02-23 21:52] TheLion commented on #58
Yes, issue is solved. Thanks for the quick fix.

[2017-02-23 21:55] magnushasselquist commented on #58
Confirmed on my end as well.

Thanks!

tors 23 feb. 2017 kl. 22:52 skrev Martijn Janssen <notifications@github.com

--
Magnus Hasselquist
magnus.hasselquist@gmail.com

[2017-02-24 03:05] #58 closed

[2017-02-26 07:33] mattiasol opened #59 "Error XBN Database"
verisure.session.ResponseError: Invalid response, status code: 503 - Data: {"errorGroup":"SERVICE_UNAVAILABLE","errorCode":"SYS_00004","errorMessage":"XBN Database is not activated"}
I've got his error messages the last 2 days when i try to connect to verisure.

[2017-02-26 07:33] #59 closed

[2017-02-26 07:44] persandstrom commented on #59
Have you updated to the latest version. This was reported in #58 an fixed in version 1.1.2

[2017-02-26 07:54] mattiasol commented on #59
Solved, missed the #58 issue report :(

[2017-03-02 09:23] tcastberg opened #60 "Historical climate data"
Hi Per,

Is it possible to use use the app api to fetch older climate data? Looking at the website I'm able to look at data back to the installation of the system, however using the vsure command I'm only getting back to about 30 days.

Cheers,
Tor Magnus

[2017-03-02 09:26] tcastberg commented on #57
I suspect the delay is because the lock "sleeps" to conserve battery. When it has been used, either manually or after a wakeup it will remain awake for a period and respond immediately.

The delay of the alarm is probably because the alarm does not define as set before the timeout (exit) delay is over.

[2017-03-02 11:45] tcastberg commented on #60
Looking at the app the data only seems to go back 30 days, while on the website it goes all the way back. Could be a limitation in the app api?

[2017-03-02 19:09] persandstrom commented on #60
Yes, seems like it is a limitation of the app api.

[2017-03-10 09:03] tnemrap opened #61 "json standard"
What json standard is the output in.
I am having difficulties to find a parser that can handle the output.

/Mike

[2017-03-10 09:57] persandstrom commented on #61
The output is not correctly formatted json. It should be...
I will fix this soon.
Thank you!

[2017-03-10 13:47] magnushasselquist commented on #61
That would be awsome, I am currently treating it as a string and performing
some magic to it.

2017-03-10 10:57 GMT+01:00 Per Sandström <notifications@github.com>:

--
Magnus Hasselquist
magnus.hasselquist@gmail.com

[2017-03-10 15:47] tnemrap opened #62 "Missing information"
I have updated to last version.
In the version i used before i captured and used this details from eventlog "The SmartLock Huvudentre has been unlocked from the inside"
Now i can not find this information.

/Mike

[2017-03-12 05:41] persandstrom commented on #61
Solved in #63 v1.2.0

[2017-03-12 05:41] #61 closed

[2017-03-13 09:32] persandstrom commented on #62
You are correct, that is missing since the move to use the app-api.
It's on the to-do list.

[2017-03-15 21:04] daweedm opened #65 "Set on/off motion detector for smart cams"
Hello, is it possible to set on/off motion detector for smart cams ?

Thanks !

[2017-03-16 05:21] persandstrom commented on #65
Hi,
No, can you do it from the app?

[2017-03-16 17:52] DaweedM commented on #65
Hi,
Yes, we have a "my cameras" section where there is a motion detector switch for each of them

[2017-03-16 17:57] DaweedM commented on #65
![img_0486](https://cloud.githubusercontent.com/assets/8097216/24011217/6a39f080-0a7a-11e7-95cd-3b76a52f2579.PNG)

[2017-03-16 18:59] persandstrom commented on #65
I don't have any cameras myself, so I can't help to reverse engineer it. But it should be possible.

[2017-03-16 19:21] DaweedM commented on #65
What tools did you use to spoof the API routes called by the app from the phone ? I could try to do it myself

[2017-03-16 19:41] persandstrom commented on #65
I have used Charles [https://www.charlesproxy.com](url).

You can set a proxy on the wireless connection on your phone and point it to the IP of the computer running charles. You have to enable ssl ploxying in charles as well for the locations e-api02.verisure.com, mymobile.verisure.com, e-api01.verisure.com and sstats.securitas-direct.com

[2017-03-17 14:18] tnemrap commented on #62
It would then be nice to have -f LOCK UNLOCK in the event log.

[2017-03-18 01:03] daweedm commented on #65
Thanks for your advices,
I'd have liked to contribute to this project but my Python knowledge is limited.
If someone faces the same needs, I've done it with PHP : [daweedm/php-verisure](https://github.com/daweedm/php-verisure)

[2017-03-18 06:38] persandstrom commented on #62
I have added the filter options in #66, release  v1.3.1

[2017-03-18 14:05] Jacobh2 opened #67 "Invalid response - Service unavailable"
Hi!

First of: Very nice API! I've been using it a lot!

Since yesterday I've had some problems connecting however, and I thought that you might be able to help me shine some more light on the issue.

Both connecting from within python and from a terminal, I get this error:
`verisure.session.ResponseError: Invalid response, status code: 503 - Data: b'{"errorGroup":"SERVICE_UNAVAILABLE","errorCode"

[2017-03-18 17:31] persandstrom commented on #67
Hi!

Verisure seem to alternate between two servers, I will try to fix this as soon as possible.

I will fix this as soon as possible

[2017-03-18 18:15] Jacobh2 commented on #67
Just a quick follow-up question: Where have you found the Verisure API information?

[2017-03-18 19:16] persandstrom commented on #67
I have reversed engineered it, with some guidance from @lindehoff
The tool we have used is [www.charlesproxy.com](url)

[2017-03-18 20:33] tomhur commented on #67
It looks like DNS e-api.verisure.com work. That is a CNAME that now points to e-api02.verisure.com

[2017-03-18 20:35] persandstrom commented on #67
@tomhur Thanks! you saved me some time. An update will come within minutes

[2017-03-18 20:41] persandstrom commented on #67
Version 1.3.2 released, issue solved

[2017-03-22 10:58] magnushasselquist commented on #67
1.3.2 gives me this error still..

[2017-03-22 12:52] persandstrom commented on #67
@magnushasselquist Seems like the issue is back, I will try to figure out a more solid solution to this

[2017-03-22 19:35] persandstrom commented on #67
#70 should have solved the issue

[2017-03-23 09:56] magnushasselquist opened #71 "Question: Response from Lock and Unlock"
For Door-lock, when Locked or Unlocked the response is (examples):

Successful:
{u'doorLockStateChangeTransactionId': u'20051143'}
Failed:
{u'doorLockStateChangeTransactionId': u'34852458'}

Where can I find information about if this is actually successful or failed. Before we moved to API, the response included ok or not-ok. Can I track the TransactionID somewhere in API? History events have long

[2017-03-23 13:39] persandstrom commented on #71
Using the python module there is a function ```get_lock_state_transaction``` that takes a trasaction id as input and it will return the status of the door lock operation.

The command line should probably work as an synchronus call and return the result after the transaction is done, not after the call to lock is done.

[2017-03-23 13:45] hanspnyholm opened #72 "Python exampels"
A example how to get doorlock (more than one doorlock) status out from module.
You hade that on the old version.

[2017-03-23 13:57] persandstrom commented on #72
Do you mean something like:

[code]
Maybe there is a "smarter" way to get it similar to the ```get_door_window``` function, I will investigate that

[2017-03-23 14:58] hanspnyholm commented on #72
And how often can you request the status from the API whitout verisure get mad and block me.

[2017-03-23 15:32] persandstrom commented on #72
I have never heard that they have been mad at or contacted anyone that has
used python-verisure so I don't know. I would suggest to keep it at a
reasonable level though, a few calls a minute or so.

On Mar 23, 2017 3:58 PM, "hanspnyholm" <notifications@github.com> wrote:

And how often can you request the status from the API whitout verisure get
mad and block me.

—
You are receiving this because

[2017-03-23 20:39] tomhur commented on #72
I hve gotten this e-mail from verisure:

amount of data traffic.
We really appreciate that you enjoy our system, and that you integrated it
with yours, but the current setup do not support the feature to
retrieve/send information from "My Pages", and to build your own
applications.
On 2016-07-19 there were 1 440 requests per 24 hours. Our acceptance level
for calls towards “My Pages” is 1 call per

[2017-03-25 19:17] hanspnyholm commented on #72
Wonder if the limit is the same now then we use the app api instead of my page api

[2017-03-30 18:06] #67 closed

[2017-03-30 18:06] #62 closed

[2017-03-31 13:26] benganellison commented on #57
unfortunately i don't have the skills but if this was implemented i know a few things that would be automated at home. don't like the idea of doing a pull every minute or so.

[2017-04-02 14:12] tomhur commented on #52
I'm also having these problems. I have made sure I have the latest update:

    python3.5 -m pip install --upgrade git+https://github.com/persandstrom/python-verisure.git
    Collecting git+https://github.com/persandstrom/python-verisure.git
      Cloning https://github.com/persandstrom/python-verisure.git to /tmp/pip-5sf7aiqa-build
    Requirement already up-to-date: requests>=2.9.1 in /usr/lib/p

[2017-04-02 19:33] persandstrom commented on #52
Could you try the branch  [issue52](https://github.com/persandstrom/python-verisure/tree/issue52) and see if that works or act different in any way?

[2017-04-02 20:10] tomhur commented on #52
That works good for me :)

    python3
    Python 3.5.3 (default, Mar 21 2017, 17:21:33)
    [GCC 6.3.1 20161221 (Red Hat 6.3.1-1)] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    {'changedVia': 'REMOTE_APP', 'date': '2017-04-02T06:07:41.000Z', 'area': 'REMOTE', 'cid': '01029078', 'name': 'Hem Automation', 'statusType': 'DISARMED'}

Great work!

[2017-04-02 20:30] persandstrom commented on #52
@tomhur Nice!

I have released the fix in version 1.3.4

@christian-ek Could you verify and see if it works for you as well?

[2017-04-03 06:12] christian-ek commented on #52
No, maybe I'm doing something wrong?

[code]

[2017-04-03 19:35] persandstrom commented on #52
@christian-ek I have a theory. You have a non ascii character in your credentials, right?
I have updated the [issue52](https://github.com/persandstrom/python-verisure/tree/issue52) branch.
Please test when you have time.

[2017-04-04 05:55] christian-ek commented on #52
Working now, thank you :-)

[2017-04-04 05:55] #52 closed

[2017-04-04 09:16] christian-ek opened #74 "new version in home assistant"
Hi,
Didn't know how to contact you so I created an issue here.
I am wondering if it's your code that is used from Home Assistant Verisure component?
If so, can it be updated to your latest version? Would love to have the door sensors in Home Assistant.

BR,
Christian

[2017-04-04 10:59] persandstrom commented on #74
Hi,
It's an older version of python-verisure that is used by home assistant.
My plan is to update HA, I have been a bit occupied lately though.
Hopefully I will get the time/energy to do it soon.

[2017-04-05 20:02] tnemrap commented on #62
How do i get the details from eventlog according to first post in this issue.

[2017-04-05 20:35] persandstrom commented on #62
Ah, maybe I closed the issue to fast.
Is your goal is to capture details, like user, area etc., or do you want the long text?

[2017-04-11 08:28] mblixter commented on #57
First of, FANTASTIC project, really nice work!

I also liked to see push notifications build into this, but I guess it would require a change from Verisure to be able to do so.

In the meantime I have settled for a solution using MEmu(an android emulator) with Tasker, Autonitification and the Verisue app installed.
This makes it possible for me to get push notifications on the emulator and Tasker

[2017-04-13 07:42] hanspnyholm commented on #72
import verisure
s = verisure.Session(username, password)
s.login()
s.get_overview()['doorLockStatusList']
Maybe there is a "smarter" way to get it similar to the get_door_window function, I will investigate that

A example to sort this data out should be great :)
Ex:
Dorr xxx: locked
Dorr yyy: unlocked

[2017-04-16 19:03] persandstrom commented on #72
The data is in JSON format, I don't have a lock myself so I can't give you an answer.
Maybe [this stack overflow post ](http://stackoverflow.com/questions/2835559/parsing-values-from-a-json-file-using-python) can give you some hints.

[2017-04-18 09:39] hanspnyholm commented on #72
Got this working now.

import verisure
s = verisure.Session(username, password)
s.login()
print s.get_overview()['doorLockStatusList'][0]['currentLockState']

[2017-04-24 13:05] xprezz commented on #74
It would be great if you could find the time. With the latest updates to HA it seems the smartplugs are broken. Also thank you for the great work :)

[2017-04-29 18:44] persandstrom commented on #74
I have started to update HA now, will probably take a bit more.
https://github.com/persandstrom/home-assistant/tree/vsure_app_api

[2017-05-01 05:50] xprezz commented on #74
Thank you so much!

[2017-06-02 06:59] krambriw opened #76 "Responses to and timeouts for requests"
Hello,
First of all, thank you for this very nice library! It works great, since yesterday I am using it successfully with EventGhost and Node-RED.
During a couple of years I have had my own "homebrewed" solution using the web api but your library is much easier and better.
I modified some minors in your settings.py. For some methods using requests I have added
- timeout as parameter
- http respon

[2017-06-02 07:28] persandstrom commented on #76
Hi!

You will get an indication if the call was successful or not, the ```_validate_response``` functions does that.
If the call did not succeed a ```ResponseError``` will be raised, this exception has a ```status_code``` and a ```text``` field.

I would expect a ```RequestError``` to be raised if the host is unavailable, but for other cases where a connection is established and the server hangs f

[2017-06-03 07:50] krambriw commented on #76
Hello Per, fine, I understand what you are saying and the _validate_response is doing what you say. However. at least in my case, I wan't the responses to be delivered to my application in all situations, even if they are just confirming a successful request. So my modified function for the smartplug looks like this, always returning the response to my other application(s)

Kind regards, Walter

`

[2017-06-13 17:37] persandstrom commented on #74
If anyone has a yale lock, some python skills and some time over, please take a look at my PR. I have some problems getting it to be responsive enough.

[https://github.com/persandstrom/home-assistant/tree/vsure_app_api]()

[2017-06-14 00:25] Redferne commented on #74
I have a Yale lock, HA, spare time and a little python skill. What do you need?

[2017-06-14 09:42] persandstrom commented on #74
@Redferne Great!
I don't have lock myself so I have a hard time trying to fix some issues with it.
It seems like it takes a long time from when the lock is locked until the overview is updated with the new lock status.
I need some help trying to solve this in a good way in HA.

If you clone my [branch ](https://github.com/persandstrom/home-assistant/tree/vsure_app_api) and see if you can get it up

[2017-06-14 19:16] Redferne commented on #74
@persandstrom

It is enough to copy your changes to deps/verisure folder and restart HA. Or have you made other changes?

[2017-06-14 19:53] persandstrom commented on #74
There are a lot of changes in HA, you need to use my home assistant branch in order to test

[2017-06-15 23:08] Redferne commented on #74
Ok. Managed to get your changes patched to my hassbian and virtual env installation. Yes. The update of lock status is slow, it took at least 30 seconds from the time I manually locked until status was updated. I need to add a bunch of debug prints to investigate and compare against the Verisure Android app.  How often do you poll from the Verisure api?

[2017-06-16 12:07] persandstrom commented on #74
The API is polled at most every minute if nothing else is stated.
To force an update you should call: ``` hub.update_overview(no_throttle=True)```

For reference you can look at the
[alarm_control_panel implementation ](https://github.com/persandstrom/home-assistant/blob/vsure_app_api/homeassistant/components/alarm_control_panel/verisure.py)

As you can see here in ```set_arm_state``` the call to

[2017-06-17 17:41] Redferne commented on #74
Well, since the get_overview() is default throttled to 60s. Updates from the Verisure API will be slow. Not sure if it is worth lowering the interval for the lock entity to 15s to get it a little more responsive? On a another note, I dumped the overview json for the locks:

[code]
Could be interesting to forward **secureModeActive, method, eventTime, currentLockState, pendingLockState, motorJam**

[2017-06-17 21:12] persandstrom commented on #74
When changing the lock state from the Verisure app or from the lock itself a delay on  60 seconds is expected. The reason for that is as you say that the overview is only updated every minute at most.

If the lock state is changed by HA it should be possible to get a more responsive update, since we have the knowledge that it was changed. My hope is that the transaction id can be used in any way a

[2017-06-18 02:28] Redferne commented on #74
Yes, there is something fishy here. It takes around a minute for the lock status to change even if explicitly updated with `hub.update_overview(no_throttle=True)`. The Android app is however updated as soon as it has refreshed. I'll have a look in the vsure library and maybe need to resort to tcpdump to figure this out :cry:

[2017-06-18 18:08] persandstrom commented on #74
If you use the command line of vsure and change the lock and after that read overview, how long does it take for the status to change?

Maybe it is easier to figure out if you write a small script that imports verisure and then play around with the functions
[code]
just to get a feel about what happens when you set lock state and then read the lock state transaction.

[2017-06-23 10:57] yada75 commented on #74
I totally suck at python but hopefully this helps somehow.
We can't use transaction_id to verify or assume that state is changed.
If new set_lock_state is sent before currentLockState have changed then error with bad request.
Only diff in get_overview and get_lock_state is "zone": "004" is available in get_lock_state and in my 3 locks zone is 002,003,004 and i don't have verisure alarm.

Se attach

[2017-06-23 17:25] Redferne commented on #74
I've been tinkering with this the past week and have gotten as far as the get_overview is returning stale information. Lock transaction works fine here. However the last call to get_overview is not returning the new lock state, but the same data as before the lock transaction. I've tried adding no_throttle=True and also a forced logout() and login() to no avail. The new lock state is not returned

[2017-06-24 12:30] yada75 commented on #74
I think some mixups made it in [`self._state = state`](https://github.com/persandstrom/home-assistant/blob/vsure_app_api/homeassistant/components/lock/verisure.py#L117) [link](https://github.com/persandstrom/home-assistant/blob/vsure_app_api/homeassistant/components/lock/verisure.py#L117)
In earlier version you set `STATE_LOCKED` and `STATE_UNLOCKED` to `self._state`
Now its `'lock'` and `'unlock'

[2017-06-24 14:40] yada75 commented on #74
Just leaving this error if state change is requested before `get_overview` is updated
`verisure.session.ResponseError: Invalid response, status code: 400 - Data: {"errorGroup":"BAD_REQUEST","errorCode":"VAL_00819","errorMessage":"The requested doorlock state is not possible to apply due to state already set"}`

[2017-06-25 19:18] persandstrom commented on #74
@Redferne I have never used any tool like apktool, have you had any luck with that?  I have used [charles](https://www.charlesproxy.com/) for listening to the traffic from the android app.

@yada75 Good that it seems to work, but your changes has some flaws.
The loop would be stuck if the state does not change, and  Verisure does not like that we send too many requests so I think that we shouldn't

[2017-06-25 19:42] yada75 commented on #74
@persandstrom I'm still learning but is `get_lock_state_transaction` a request also? and will loop until ok? That's why i suggested to skip transaction request and do `get_overview` instead with longer time intervals in between.

Its from `set_lock_state` if verisure api server have `LOCKED` state and we send `'lock'`

I saw the change and looks promising, should work. But we really need to check

[2017-06-25 20:00] yada75 commented on #74
I might get this totally wrong but Is `STATE_UNLOCKED` in `def unlock(self, **kwargs):`actually used in `set_lock_state` ?

would this `lock_state = 'lock' if STATE_LOCKED else 'unlock'` just change the lock to the "other" locked/unlocked state?

[2017-06-25 20:25] persandstrom commented on #74
It's a minimal request, and probably takes a very small resources from the server, that is how the app does it for the alarm (not sure about the lock but guess the behavior is the same). It will loop until a result is given for the transaction, whether it is OK or not. But you are right there should be a maximum number of tries, I will add that.

I see not that the code is bad :) , it should be
``

[2017-06-25 21:54] yada75 commented on #74
Totally slipped my mind, good thinking on transaction generally. I see now that transaction is preferred, example is if door is open then locked state will never happen in get_overview but transaction will be ok.

Later on we should consider some error reporting if transaction is ok but get_overview don't get expected state, like example above if door is open then locked state will never happen.

[2017-06-26 07:20] Redferne commented on #74
Sorry for slow response, I've taken a few hours vacation :smile_cat:

I've not been able to find a nice solution for this issue but I've found a workaround. Set the request headers to disable caching in the verisure session api:
[code]
and force a update + relogin in the lock component:
[code]
which is triggered here in the hub component:
[code]
Now the new lock state is updated with 3-4 seconds,

[2017-06-26 07:46] Redferne commented on #74
Also added this in lock->update to get a nice status string in HA:
[code]

[2017-06-26 11:41] persandstrom commented on #74
@Redferne seems like you have done om great investigation here! Is the logout/login needed or is it possible to wait for a few seconds and then read using no-cache?

Is the verisure-app notified when the lock status is manually changed?

[2017-06-26 15:47] yada75 commented on #74
@persandstrom Tried your last pull with (As you told me, triple check anything i say from now on) `lock_state = 'lock' if state == STATE_LOCKED else 'unlock'` and changed to `sleep(2.0)` in loop. Working great with max 4sec for state change. Good to go regarding response on my system.

@Redferne good hunting. Do you experience cache issues with commandline version also?
I never had any cache issue

[2017-06-26 17:12] yada75 commented on #74
@persandstrom i was to fast with `lock_state = 'lock' if state == STATE_LOCKED else 'unlock'`

Could you just do something like this to be sure that lock is unlocked before try to lock for now. Plenty of time later to optimize?
[code]

[2017-06-26 20:38] persandstrom commented on #74
That is to coop with the delay, for 10 seconds after the state is changed we assume that the desired state is set (as long as the transaction was OK).

[2017-06-26 20:39] persandstrom commented on #74
I have merged to home-assistant now, we can still try to improve/fix issues in a new PR.

[2017-06-26 20:40] yada75 commented on #74
Great work per :) Let breathe for a while

[2017-06-28 05:32] #74 closed

[2017-07-02 14:42] christian-ek commented on #74
Wow, Thank you for your work!

[2017-07-02 22:07] tnemrap opened #78 "Autolock settings"
Is it possible to add functionality to enable/disable autolock?

/Mike

[2017-07-04 05:39] persandstrom commented on #78
Is should be possible

[code]

[2017-07-04 18:02] tnemrap commented on #78
Do i also need to add an url in urls.py?

/Mike

[2017-07-04 18:15] persandstrom commented on #78
I mean that it is already implemented.
the function set_lock_config has a parameter for auto_lock_enabled that can be set to true or false.

[2017-07-05 12:10] tnemrap commented on #78
Brilliant.

Then we close this. :)

/Mike

[2017-07-05 12:10] #78 closed

[2017-08-02 18:19] TheLion opened #79 "Vacationmode reports error"
Hi.

When running `python verisure.py username password vacationmode` an error is reported.

[code]

[2017-08-03 19:16] persandstrom commented on #79
Thanks!
It's solved in the latest version

[2017-08-03 19:16] #79 closed

[2017-09-26 17:02] krambriw opened #80 "Checking the panel network connection status"
Hello Per,
Did you ever find out how it could be possible to initiate the check if the panel is on-line or off-line? (In Swedish it is named "Bredband:Online/Offline)

In some cases it could be preferable to know the status before sending commands since it will cost sms's if the panel is offline

Kind regards, Walter

[2017-09-26 17:04] krambriw commented on #80
...and also for pure monitoring purposes

(I know you can get the latest known status via the get_overview() but I would like to refresh the status to the actual time when requested

[2017-09-27 19:10] persandstrom commented on #80
That should be quite easy to add,

I can take a look at it soon

[2017-09-28 06:17] jamiewalters opened #81 "HeatPumps"
I am interested in adding support for HeatPumps (get status, change temperature, etc)

They show up in the /overview as:

 "heatPumps": [
        {
            "deviceLabel": "XXX XXX",
        },
            "heatPumpModel": "PANASONIC",
            "heatPumpConfig": {
                "status": "RUNNING",
                "mode": "HEAT",
                "power": "ON",
                "targetTemper

[2017-09-28 11:31] persandstrom commented on #81
Hi,
Is it possible to do this from the app?

[2017-09-28 11:48] jamiewalters commented on #81
Exactly, you can control all the function of the heatpump from the apps.

[2017-09-28 17:56] persandstrom commented on #81
Then It should be doable. I don't have a heatpump myself so you have to add the functionality yourself.

I have installed https://www.charlesproxy.com on a computer used it as a reverse proxy for my cell phone. When ask certificate is exchanged it is possible to sniff the traffic from the app.

[2017-09-28 20:07] persandstrom commented on #80
There is a new command now, ```test_ethernet```. It will update the ethernet status. I don't know how long it takes after the command is sent before the status is updated.

[2017-09-29 15:26] krambriw commented on #80
Thank you very much Per!
It looks great, I have implemented the test control in my python script so it is running now. Next is to test what happens when I disconnect/connect the verisure panel from network (the detection time online/offline will depend on how frequent I request the update, normally the status check takes around 1-2 seconds when using the app)

[2017-09-29 17:34] #80 closed

[2017-10-03 10:45] tnemrap opened #83 "@Home"
Is it possible to add @Home functionality to the application?

/Mike

[2017-10-03 10:48] persandstrom commented on #83
Can you explain what you mean by @home functionality?

[2017-10-03 10:49] jamiewalters commented on #83
verisure has added a new feature in its map where you can tag yourself as being at home.

[2017-10-03 10:55] persandstrom commented on #83
OK, I did not know about that. I will take a look at it and see how it can be integrated

[2017-10-04 18:27] persandstrom commented on #83
What kind of @home functionality do you want @tnemrap ?
The overview contains a section called "userTracking".

[2017-10-04 18:53] tnemrap commented on #83
The functionallity is To check If a under is Home or not.

/mike

[2017-10-04 19:18] persandstrom commented on #83
That information is present in the overview.
```userTracking.users["UserName"].currentLocationName```

[2017-10-08 09:11] jamiewalters commented on #81
I managed to added HeatPumps, tested at home, works as expected. However the interface for the HeatPump has a few more options. I opted for a single function that takes (property, state) with property freely being any given property of the HeatPump. Given that I would like to contribute this code, is there a preferred style?

[2017-10-08 14:52] persandstrom commented on #81
Great! If you create a pull request I can take a look at it.

[2017-10-09 05:07] howi42 opened #85 "Password change"
After changing the password for my Verisure account, I cannot get the command line version to work anymore.
Error :
Traceback (most recent call last):
  File "/usr/local/bin/vsure", line 11, in <module>
    load_entry_point('vsure==1.4.0', 'console_scripts', 'vsure')()
  File "/usr/local/lib/python2.7/dist-packages/verisure/__main__.py", line 210, in main
    session.login()
  File "/usr/local/lib

[2017-10-09 05:18] howi42 opened #86 "Module version"
Regardless what I tried, I cannot make the module version work , embedded as a notify in FHEM:

VerisureAlarm:.* {
 my $alarm = qx (python /opt/fhem/python/verisure_getAlarm.py);;
 fhem ( "setstate VerisureAlarm $alarm" );;
 }

Errors :

File "/opt/fhem/python/verisure_getAlarm.py", line 1, in <module>
    import verisure
  File "/usr/local/lib/python2.7/dist-packages/verisure/__init__.py", line 1

[2017-10-09 18:07] persandstrom commented on #85
I tried to change my own password and everything works fine after that. Are you using any special characters in your new password that might cause this? try to set a password with only a-z,A-Z,0-9 and see if that works.

[2017-10-09 20:26] howi42 commented on #85
You are right, it does work today, regardless the characters used.
Not sure what happened, since I did not change anything since yesterday.
But thank you for your help.

[2017-10-09 20:26] #85 closed

[2017-10-09 20:35] howi42 commented on #86
Additional info :
Constructing the above mentioned Notify like this :

VerisureAlarm:.* {
 my @alarm = qx(vsure "user" "pass"  armstate);;
 fhem ( "setstate VerisureAlarm @alarm[2]" );;
 }

then I can make it work; it is just less convenient, since
- the status is not returned at a fixed place ( currently it is entry 2 in the array returned by the vsure call. )
- I need to do more parsing myself (

[2017-10-10 18:05] persandstrom commented on #86
The values returned are formatted as JSON documents, see if you can find some info on how to parse JSON and extract the parameters you are interested in.

[2017-10-10 20:15] howi42 commented on #86
Thanks, I need to look into some JSON parsing.
For now, I can test the return directly  and visualize it through nice icons.

[2017-10-12 21:16] howi42 opened #87 "vsure not found"
I made an installation on a new server, python 2.7 only.
Run
pip install vsure
and all went fine.
But running vsure will not work : vsure: command not found

Did I forget something ?

[2017-10-13 03:27] howi42 commented on #87
hhmm, I see, that
pip install vsure
places the executable in  ~/.local/bin.
which is not even part of my $PATH, as far as I can see.
I could add it , but this would probably still causes problems for other users.
What is the right place to target a pip install ?

[2017-10-13 04:29] howi42 commented on #87
Doing
sudo pip install vsure
helped.
Issue should be closed again.

[2017-10-13 04:29] #87 closed

[2017-10-17 18:29] Nitrosito opened #88 "Errors in verisure :("
I have HomeAssistant 0.55.2

I config verisure:
verisure:
  username: !secret verisure_username
  password: !secret verisure_password

And get this errors
[code]

Any idea? Im from spain
thanks!

[2017-10-17 20:26] persandstrom commented on #88
The Spanish Verisure system is not supported by python-verisure. I have no idea how different it is and if it would be possible to add support.

[2017-10-17 21:23] Nitrosito commented on #88
wow, bad notice D:
I try read the code and try to fix this.

Thanks and regards

[2017-10-22 22:02] psgandalf opened #89 "Support multiple alarm systems"
Hi,
It looks as if the cli version has support for multiple alarm systems. It doesn't look like modules support it.
Is this something that is considered in future versions?

Thanks in advance.

[2017-10-23 15:26] persandstrom commented on #89
You can do as the cli does.
```session.set_giid(session.installations[ "installation number" ]['giid'])```
This is not a very elegant solution ...

[2017-10-23 18:22] psgandalf commented on #89
It does all that I need. Many thanks for the fast respons and for a greate python module :+1:

[2017-10-23 20:18] #89 closed

[2017-10-25 20:04] dala318 opened #91 "Enable "with" usage"
It would be helpful if the session class could be extended with __enter__ and __exit__ functions so that a simple with use case is enabled.

[2017-10-26 17:06] persandstrom commented on #91
Good idea, don't need it myself but I would accept such a PR if you know how to implement a context manager.

[2017-10-27 06:26] dala318 commented on #91
I can push a proposal how to add such function.

[2017-10-30 10:09] dala318 commented on #91
I don't seem to have rights to push or create pull request, please advice...

[2017-10-30 10:38] persandstrom commented on #91
You fork the project on github and push to your own repository. Then you can create a pull request from the github page.
There is som info on how to do it [here](https://help.github.com/articles/creating-a-pull-request-from-a-fork/)

[2017-11-13 19:55] howi42 commented on #57
I thought for some time about solving the push/pull problem.
As I anyway receive mails about locking/unlocking, I used these mails through the mailcheck module.
Whenever a lock/unlock mail is received, I trigger a Verisure check function, which returns the state.
The check function I was already using for checking the status manually, the additional prt aroung mailcheck was less work then expected

[2017-11-30 07:23] #91 closed

[2017-11-30 07:23] #86 closed

[2017-11-30 07:24] #83 closed

[2017-11-30 07:26] #71 closed

[2017-12-09 21:52] howi42 commented on #88
I have the same error with the Verisure modul, this time in Norway.
There is a bell ringing in my head regarding the cookie stuff, but I don't remember it anymore.
Any ideas ?

[2017-12-09 22:40] howi42 commented on #88
Just some more info : I get this error now in all installations ( both python 2 and 3 )

[2017-12-09 22:44] howi42 commented on #88
hhhmm,   noting changed, but it works again.
Probably a Verisure hickup.

[2017-12-10 06:39] persandstrom commented on #88
Seems like there has been some problems at Verisure this night.

[2017-12-13 06:27] krambriw opened #93 "XBN Database is not activated"
Hello, from time to time, I can see the following error message below. What is this? Is it something with the python-verisure module or is it simply something that is down @ Verisure?

Kind regards, Walter

`06:47:13 Time Out Invalid response, status code: 503 - Data: {"errorGroup":"SERVICE_UNAVAILABLE","errorCode":"SYS_00004","errorMessage":"XBN Database is not activated"}
`

[2017-12-13 13:04] turbokongen commented on #93
That is when maintenance is performed on their servers. Today at 06-09:000 this could occour, and also on monday at 14:00-14:10 this happened.

[2017-12-14 17:49] krambriw commented on #93
Oh, I see, good to know, thank you.

Most of the time my python while loop recovers automatically when this error occurs but sometimes I have to restart my python script. Do we have any recommendations how to handle exceptions like this and others. Can a python script close down it's threads and then restart itself?

[2018-01-09 05:42] #88 closed

[2018-01-09 05:44] #60 closed

[2018-01-13 13:15] jakobjp commented on #57
Great project!

@howi42 would you be willing to share you code for the mentioned rules and checks that you perform?

[2018-01-14 19:01] howi42 commented on #57
There is not much code involved, just a little bit and some logic.
I can setup more detailed information on how this was done in a few days.

[2018-01-18 00:18] mvillarejo commented on #88
Wondering if you've done some progress in verisure integration for Spanish version... (Puedo intentar ayudar)

[2018-01-18 11:01] persandstrom commented on #88
@mvillarejo No, I don't know how much the Spanish Verisure system differs from the Scandinavian. Someone with the Spanish App and knowledge has to figure it out.

[2018-01-18 11:50] mvillarejo commented on #88
@Nitrosito maybe we can work together?

[2018-01-18 12:17] xibriz opened #94 "MQTT"
Hi.

Just want to leave a note here that I have started a [repository](https://github.com/xibriz/verisure-mqtt) that publish information about the alarm system to a MQTT server. Contributions are welcome!

The background for using MQTT is that I dont want to write a binding/plugin to my home automation system (openHAB), but use a more generic approach so that anyone that uses a system supporting M

[2018-01-22 09:21] xibriz opened #95 "Session Cache"
There seems to be some cashing issues. I will add two code snippets below.

In the first example, when I print the overview, the SmartPlug is OFF, then I turn it ON, and the second print of the overview the SmartPlug is ON.

In the second example there I don't log out between the request the SmartPlug is ON in  the overview print, then I turn it OFF, and the second print of the ovreview the SmartP

[2018-01-22 13:45] persandstrom commented on #95
Could it be that you are too quick? I guess the overview won't change until the plug has actually switched and reported back to the Verisure servers.

[2018-01-23 07:43] xibriz commented on #95
This is strange. I have tried adding a timestamp as a GET-parameter but it dit not work.

I have also tried adding no-cache headers:
[code]

But the only thing that works is to log out/in.

[2018-01-23 09:09] xibriz commented on #95
Damn... forget it. Bug in my own code 👎

[2018-01-23 09:09] #95 closed

[2018-01-27 17:01] taugusti commented on #81
Hi @persandstrom  and @jamiewalters
I am also hoping to find heat pump support... It seems like Jamie got i running - but it does not appear to be a part of the main line.
Is there any plan to add it - or perhaps I could get a copy of the prototype to see if I can make it work?

[2018-01-29 15:07] jamiewalters commented on #81
Hi @taugusti  I got it running at home but I have been quite busy to merge it with the latest code and push it back. I am more than happy to share this, maybe you can add some input to make it more useable before merging.

-Jamie

[2018-01-29 16:14] taugusti commented on #81
Great - how do I get access to it? can you mail it (or  link to it): thomas at augustinus dot dk?
Btw. I got the existing version up and running and now have the staus of the heatpump in my Home Assistant setup. But adding "change settings" would be great. It is a great module @persandstrom.

[2018-02-09 16:04] Redferne commented on #57
Yo! Also annoyed by the inherent delay in status updates using the poll API. I have also though about doing it using the mail-route. Since those can be parsed and pushed to Home Assistant and parsed using the IMAP Email Content component :smiley:

@howi42 Do you have anything you can share?

[2018-02-10 10:51] howi42 commented on #57
I can try ..
First, all functionality is related to FHEM, but I assume, similar could be built for OpenHAB, etc.
In the beginning, I created a Verisure device in FHEM, allowing me to issue the needed commands Check, Arm, Disarm, Armhome,  using Pers Python commands, followed by the FHEM UI update the show the current status in FHEM.
This is quite easy and would already allow for a polling solution

[2018-02-12 08:10] Redferne opened #96 "Invalid session cookie"
Getting a lot of these lately in Home Assistant log. They repeat every 30 seconds. Not sure that there is anything that can be done except handling the 401 response a bit nicer?

[code]

[2018-03-12 12:52] emilp333 commented on #57
First of all nice work with this project!
Any progress on push messages? I would really love to see that so it´s possible to build automations for when the door gets unlocked.

[2018-03-12 17:01] persandstrom commented on #57
Hi,
Thanks!
I don't know if it is possible to get push notifications to
python-verisure, probably not.

Den 12 mars 2018 13:52 skrev "emilp333" <notifications@github.com>:

First of all nice work with this project!
Any progress on push messages? I would really love to see that so it´s
possible to build automations for when the door gets unlocked.

—
You are receiving this because you commented.
Re

[2018-03-12 19:19] Varnander commented on #57
Hey,

I have done some preliminary testing on solving push notifications with a
dummy account (additional account for Verisure with just read rights) and
then using email to fetch them, the goal is to integrate this as a
component to get the status from Verisure into my home automation.

However i haven't gotten long enough into the project more than just "proof
of concept"...

Br

On 12 March 201

[2018-04-04 09:02] Nitrosito commented on #88
@mvillarejo I'm sorry I'm not so interested in integrating verisure

[2018-04-06 15:39] januskh commented on #96
I believe that Verisure have changed their endpoints. I'm getting these too, on another project.

[2018-04-06 15:49] januskh commented on #96
I just recieved the same error. But that was because I had changed my password for my account, and forgotten to change it in my code.

[2018-05-11 15:55] ledzepass opened #97 "Where set username and password ?"
Sorry i'm newbie in Pyhthon. I don't find where i can set my username and password verisure ?

Bests Regards

[2018-05-11 18:02] persandstrom commented on #97
The username and password is passed to the Session constructor. Like the example from the README
[code]

[2018-05-12 10:17] ledzepass commented on #97
Thanks

[2018-05-12 10:17] #97 closed

[2018-05-12 17:47] thomasbosoe commented on #74
Okay, this sounds good, but how do I get this implemented in HA, because I'm having the same issue with Yaleman lock (Verisure). When I enter my garage it takes up to nearly one minute before lights are turning on.

[2018-05-25 10:55] werner81 opened #98 "Get Events seams to be broken"
This used to work
events = session.get_history((),1,0)

Now it returns..
{u'errorCode': u'AUT_00002', u'errorGroup': u'UNAUTHORIZED', u'errorMessage': u'REQUEST UNAUTHORIZED: GET /installation/{giid}/eventlog

I haven’t checked if the communication between Verisure APP and server has changed, but I assume something has changed in the internal API.

Br Mikael

[2018-05-28 21:08] persandstrom commented on #98
Fixed now

[2018-05-28 21:08] #98 closed

[2018-06-14 15:45] efpe commented on #88
It looks like the Spanish verisure app is using a different way of communicating.

The request from the app looks like this:

[code]

They do some authentication the first time you log in and then you use `JSESSIONID` and the a `hash` parameter in the query string when sending further requests.

Reponse looks like this:

[code]

I think the integration is doable, however I will not have time to do

[2018-09-13 08:52] ptz0n opened #100 "What's the arm state when triggered?"
Hi all, I'm working on an implementation of events when the alarm is triggered. Do you know what the value of `statusType` for `armState` might be in this case? Maybe you have a response body laying around where the state is "triggered"?

Currently, these are the known security system arm states:

- `ARMED_AWAY`
- `ARMED_HOME`
- `DISARMED`

Maybe I just need to trigger my alarm when I get home to

[2018-09-13 09:31] ptz0n commented on #100
Looking at their client side application resources on `verisure.se`. I found the following declared states. Anyone of these that looks familiar to you?

[code]

[2018-09-14 17:55] jamiewalters commented on #81
https://github.com/jamiewalters/python-verisure

[2018-09-14 18:29] persandstrom commented on #100
Not really

for the arm state I have
```'ARMED_HOME', 'ARMED_AWAY', 'DISARMED'.```

In the history I can see some similar states as "alarms"
[code]
I think the only way to know is as you say to fire off your alarm :)

[2018-09-16 08:53] jamiewalters commented on #81
I am working on a HASS climate component to go with this, let me know if you are interested in testing it.

[2018-09-16 12:11] taugusti commented on #81
Hi @jamiewalters, I have only had limited time to test - and I seem to recall that I could test by executing the scripts from the ssh console or on my pc... but I can't do that anymore because of a missing reference. I will look at it later.
I made an extra python script to wrap the other one - that handles initiating the session, getting/setting and then closing the session. It is my first attemp

[2018-09-16 12:27] taugusti commented on #81
Hmm - I need to look into it again. Did you install any extra libraries?
It would be great to see your config - thanks!

[2018-09-16 18:56] jamiewalters commented on #81
try this:

https://github.com/jamiewalters/python-verisure-climate

still very rough, first hass component, will keep improving it in the coming days. since hass defaults to v 1.3.7 of vsure I add it beside the component and reference it locally.

[2018-09-24 14:28] follox commented on #81
Hi @jamiewalters
Thanks a lot for this. I was posting a feature request on the forum to ask if someone could update the Home Assistant component. Will check this out tonight :)

[2018-09-24 16:52] jamiewalters commented on #81
Let me know how it works, I am only aware of it being tested on two HeatPumps, I am not certain all the options are the same for every pump but let me know, so it can up updated.

[2018-09-24 17:55] follox commented on #81
@jamiewalters It works like a sharm! Thanks a lot. But it is only showing one of two pumps. Anything I can do to fix that?

[2018-09-24 18:15] jamiewalters commented on #81
Let me look at the code again, never been tested in multiple pumps as I only have one :/ Can you open an issue at my repo?

[2018-09-24 18:19] follox opened #102 "HeatPumps #81"
The python script here:
https://github.com/persandstrom/python-verisure/issues/81#issuecomment-424046082
Only showing one heatpump. I got two and really want both to show up.
It is also missing quiet mode and econavi, but I am not sure if this is settings which shows in the Verisure app eiter. It is only on my remote control.

[2018-09-24 18:29] follox commented on #81
If any help it is this heatpump:
Panasonic HZ9 RKE-1

[2018-09-24 19:08] jamiewalters commented on #81
Try the latest commit - J

[2018-09-24 19:08] jamiewalters commented on #81
The python lib supports setting these, just never figured out how to add them to home assistant.

[2018-09-24 19:28] follox commented on #81
I hope someone can also integreate power consumption and also the two missing modes. You can also just adjust swing mode vertically but not horizontally.

[2018-09-24 19:45] jamiewalters commented on #81
I did the support for adjusting swing mode, I didn't have any horizontal adjustments to test with so I couldn't add support for horizontal, maybe you can send me an example of your overview data from the python lib. I will look into the power consumption. The modes are in the python lib, I just dont know where they would fit into the climate component, Ill look into this.

[2018-09-25 06:45] follox commented on #81
Hi again. Much appreciated.
Where do you want me to send\upload the overview data for the python lib?

[2018-09-25 10:47] jamiewalters commented on #81
Open an issue here: https://github.com/jamiewalters/python-verisure-climate
and share the file, scrub all sensitive data, I only need to see what they heatPumps config looks like

[2018-09-25 10:56] follox commented on #81
Alright, I will do that tonight. Can't access samba from work.
You want the details in my verisureclimate.py file, right?

[2018-09-25 18:12] follox commented on #81
I am not sure what file you want me to gather information from.

[2018-09-27 18:21] jamiewalters commented on #81
No, I wanted to see what the output from your versure data is like, you would have to run python-versire lib and print it out.

[2018-09-28 19:28] follox commented on #81
@jamiewalters
I do not have any file with that name extension in the folder.

[2018-10-01 08:14] follox commented on #81
@jamiewalters ?

[2018-10-01 08:53] jamiewalters commented on #81
I am trying to get a copy of your output from Verisure when the module is running. You can get this by running, this lib here python-verisure and doing get_overview() this should return this data.

[2018-10-01 13:52] follox commented on #81
I am sorry, but I am unable to write python.
Will need some explanation about how I can proceed with this. What should I write in this python file in order to retrieve the data you asking for?

Maybe some text I can copy paste?

[2018-10-03 06:50] follox commented on #81
@jamiewalters Sorry to bother you with this, but can you please give me a detailed text or a recipe on how to proceed? Thanks :)

[2018-10-03 07:30] turbokongen commented on #81
@follox look at the readme of this project.

[2018-10-03 07:40] jamiewalters commented on #81
Hi

Not an issue, I just don't find the time to answer so quickly. Check the readme as said above its a good way to begin, the method you need to call is "get_overview()"

[2018-10-03 18:35] mskorge opened #103 "Polling interval in Home Assistant"
Hi, and thanks for a great HA module!
Lately in Sweden Verisure has started blocking people polling faster than every 30 minutes. They are sending an email telling people they will remain blocked until the polling rate is lowered.
I would love to see polling interval as an optional configuration setting so I can set it lower myself instead of having to modify the code.

Keep up the good work!

[2018-10-04 05:49] xibriz commented on #103
Interesting... I wounder if they will do this in Norway also. I'm so close to just dropping Verisure because I think they are quite expensive. If they block me that will be the last drop :)

[2018-10-04 06:07] krambriw commented on #103
I use this python module since long and my understanding is that you can decide yourself the polling interval if you write a small python script using it.
But, ouch, if we get blocked, what to do? 30 minutes makes it useless. So far I have not received any email yet, been polling every 15 second since the beginning (on the other hand I informed them when I started, at that time had my own similar

[2018-10-04 09:40] krambriw commented on #103
Provided using Android, could this be interesting for python???
[](https://www.youtube.com/watch?v=8Jwp1PTvECI)

[2018-10-04 12:03] Toukassay opened #104 "French compatibility ?"
Hi !

Thanks for your work about Home Assistant integration.

Unfortunatly, I think that french "how to connect" seems to be different than elsewhere, maybe I'm wrong. Verisure is deployed here by Securitas, and we log in with : https://customers.securitasdirect.fr/fr/login/FR

Then when I try to add the Home Assistant component, wich use your library, I've got this error :

[code]
I suspected a d

[2018-10-04 12:06] Toukassay commented on #104
See this topic too : https://community.home-assistant.io/t/verisure-not-working-with-home-assistant-on-new-verisure-install-in-france-and-spain/23207

[2018-10-04 13:47] krambriw commented on #104
Are you sure this is the same provider? Securitas Direct is not the same as Verisure
Try this link, and you will see the picture below for France
https://mypages.verisure.com/

![image](https://user-images.githubusercontent.com/20238676/46478212-bf454f80-c7ec-11e8-9eb4-5cdbf3f00430.png)

[2018-10-04 13:56] Toukassay commented on #104
Oh. Ok. I'll try to create an account there, link it to my installation (made by Securitas Direct) ans see how it goes then.

[2018-10-04 14:57] Toukassay commented on #104
Well, I can't link my installation as expected..

But yeah, I guess it's exactly what's said in the link above :

This library probably was working with the old URL but not anymore. That's why I was asking if  the French integration is planned.

[2018-10-04 15:07] persandstrom commented on #104
Hi @Toukassay
Sadly I have no possibility to add FR support myself. I would accept a pull request if the difference only is in the login procedure, but if the systems are very different it would probably be best to create a new lib instead.
I would happily answer questions on how the reverse engineering to a developer with FR login.

[2018-10-04 15:10] krambriw commented on #104
You can contact them in French and ask if it is really the same supplier. Why did they otherwise keep the French alternative in the link I gave you if it is not valid?? You can call them to see if they did installation in your house, you have the phone number there in the link/picture. I mean, not to waste time on something that shows to be totally different

[2018-10-05 07:06] follox commented on #81
The readme does not say anything about this.
https://github.com/jamiewalters/python-verisure-climate/blob/master/README.md

[2018-10-05 16:36] mskorge commented on #103
Thanks a lot for spending some time on this! Will help us out for sure...

[2018-10-05 16:36] #103 closed

[2018-10-05 17:07] krambriw commented on #103
Maybe is possible:
https://stackoverflow.com/questions/26731306/android-is-it-possible-to-get-other-apps-notification-info

[2018-10-07 10:39] persandstrom commented on #81
@jamiewalters I have updated vsure in HA to version 1.5.0

[2018-10-07 13:07] jamiewalters commented on #81
Excellent, I have a component for adding the heatpumps as a climate device, how could we get this in?

[2018-10-07 14:15] persandstrom commented on #81
I think the best way is to read to docs on how to sSubmit your work]
[https://developers.home-assistant.io/docs/en/development_submitting.html) to home assistant.
When you have created a PR I can help out to review it.

[2018-10-27 14:57] Olen commented on #72
They have some kind of rate limiting now.
I am trying to fetch the event log once a minute, and I get this quite frequently:

verisure.session.ResponseError: Invalid response, status code: 429 - Data: {"errorGroup":"TOO_MANY_REQUESTS","errorCode":"AUT_00021","errorMessage":"Request limit has been reached"}

[2018-10-29 07:10] xibriz commented on #72
Does this mean that the app also stops working or is it a session limit so it would help to logout/login?

[2018-10-29 07:50] Olen commented on #72
I have not investigated thoroughly, but I _believe_ it is the opposite.
I run the poller as a cron job, and what I have seen is that if I run it every minute, I will get this error quite often.  If i run it every other minute, I hardly ever get the error (but I do get it occasionally).

So I basically do a reconnect every time, but I guess the app just keeps the connection open and runs the reques

[2018-11-16 21:55] befiware commented on #88
I'm new with Home Assistant and trying to setup Verisure integration. I'm from Finland, so this should be work for me but got this kind of errors:

1) Setup failed for verisure: Component failed to initialize.
2) Could not log in to verisure, HTTPSConnectionPool(host='e-api01.verisure.com', port=443): Max retries exceeded with url: /xbn/2/cookie (Caused by NewConnectionError('<urllib3.connection.V

[2018-11-16 21:56] saksholm commented on #88
I'm new with Home Assistant and trying to setup Verisure integration. I'm from Finland, so this should be work for me but got this kind of errors:

1) Setup failed for verisure: Component failed to initialize.
2) Could not log in to verisure, HTTPSConnectionPool(host='e-api01.verisure.com', port=443): Max retries exceeded with url: /xbn/2/cookie (Caused by NewConnectionError('<urllib3.connection.V

[2018-11-23 00:16] kimhaak commented on #96
Seeing this too, only after a period of time,30-45 minutes, then service needs to be restarted. (Using a mqtt service that utilizes this project)

DEBUG:urllib3.connectionpool:https://e-api01.verisure.com:443 "GET /xbn/2/installation/46490583256/overview HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): e-api01.verisure.com:443
DEBUG:urllib3.connectionpool:https://

[2018-12-17 22:45] tnemrap opened #109 "Lock config from command prompt"
Is it possible to do session.get_lock_config('XXXX XXXX') from command prompt?

[2018-12-21 17:30] persandstrom commented on #109
No, but it would be quite easy to add. I have no lock myself though.

[2018-12-26 15:37] cyberlecgui opened #110 "Get temperature from sensors"
Hello,

Many thanks for this project !
I would like to create a function to get the temperature from my sensors with the deviceid.

Could you please help me ?

Regards
Guillaume

[2018-12-30 14:56] persandstrom commented on #110
Hi,

If you want the current value you can get it from the overview

The overview will return a json object, you can read about it here: https://docs.python.org/3/library/json.html

There are of course many ways you can extract the data from the json structure, here is one example.

[code]

[2019-01-11 17:51] cyberlecgui commented on #110
It works perfectly ! Many thanks ;)

[2019-01-11 18:13] #110 closed

[2019-01-12 20:16] titoudoc commented on #88
By any chances, could you manage to do the integration ? Thanks.

[2019-01-16 11:46] efpe commented on #88
No, unfortunately I don't have time to do this at least for now.

[2019-02-22 09:14] follox commented on #81
Hi @jamiewalters
It seems like the verisure plugin for HomeAssistant has stopped after upgrading to the newest version.
Can you check into this?

[code]

If I move it to a new folder it does not work eiter...

[2019-02-22 15:53] jamiewalters commented on #81
Will check this out

[2019-03-10 15:24] taugusti commented on #81
@jamiewalters - any news on this?
Anything I can do to help?

[2019-03-10 16:51] taugusti commented on #81
I have added an issue in the repository here:
https://github.com/jamiewalters/python-verisure-climate/issues/4

[2019-03-11 09:39] follox commented on #81
@taugusti Thanks for looking into this as well.
Is there any way to integrate the climate into the Verisure component?
https://www.home-assistant.io/components/verisure/

The heatpump sensor is a part of Verisure, so a bit unsure why it is not included in the component.

[2019-03-11 13:54] taugusti commented on #81
Hi @follox
I fixed the issue and made a pull-request for @jamiewalters.
When he has reviewed and approved it, you can get it from his repository.

If you want to get moving and help test it, you can get it here: [](https://github.com/taugusti/python-verisure-climate/tree/patch-1)

Regarding including it into the climate component... I guess we should give it a try... I assume there is a formal pro

[2019-03-11 14:00] follox commented on #81
@taugusti Well, I do not know anything about this.
But I guess we can upload a hvac.yaml file here:
https://github.com/home-assistant/home-assistant/tree/dev/homeassistant/components/verisure

This is the yaml files the Versiure component is using.

[2019-03-16 10:47] jamiewalters commented on #81
I have merged this request in the repo.

[2019-03-16 10:51] jamiewalters commented on #81
I would like to get it added to Hass however I have not been able to commit much time to doing this. But it would be a better approach and use the same Verisure instance used for the other Verisure components.

[2019-03-22 11:42] follox commented on #81
Alright, I got it to work. Thanks for that! But hass.io is complaining with the following:
Your configuration contains extra key that the platform does not support (but were silently acceptet before 0.88). Please find and remove the followin. This will become a breaking change.

[uername], [password] Line 109

I am using the Verisure component as well so the configuration looks like this:
verisure

[2019-03-24 19:16] jamiewalters commented on #81
I am not so familiar with the recent changes that causes this to happen.  I am working on a pull request to add this to the built in verisure component, almost done.

[2019-03-27 16:29] SalkinDK commented on #100
Did anybody found out what the state is when trigged?

And will the status be the same in homeassistant?

[2019-03-31 07:53] jamiewalters commented on #81
Component added this to Home Assistant upstream, awaiting a review. @persandstrom perhaps you can help with this?

[2019-04-02 18:15] #94 closed

[2019-04-02 18:16] #51 closed

[2019-04-02 18:16] #57 closed

[2019-04-02 18:17] #65 closed

[2019-04-02 18:20] #72 closed

[2019-04-02 18:20] #76 closed

[2019-04-02 18:21] #93 closed

[2019-04-02 18:21] #96 closed

[2019-04-02 18:22] #104 closed

[2019-04-12 04:09] persandstrom commented on #81
@jamiewalters I added some comments, if you need any help please ask and I can support.

[2019-04-26 07:27] follox commented on #81
Hello. I was just wondering whether the Verisure component is updated or not?

[2019-04-30 08:21] follox commented on #81
@jamiewalters ?

[2019-05-01 04:40] jamiewalters commented on #81
Hey I haven't updated the pull request as yet, been offline a while.

[2019-05-03 07:45] follox commented on #81
@jamiewalters Can you please follow up the request here?
https://github.com/home-assistant/home-assistant/pull/22555

Cheers

[2019-05-07 08:26] follox commented on #81
@persandstrom Is this something you can look into?

[2019-05-07 08:54] persandstrom commented on #81
@follox No, I don't have a heat pump. It is better this is done by someone who has the hardware. @jamiewalters if you need any support I am happy to help out.

[2019-05-08 02:56] jamiewalters commented on #81
There were a few stuff to be fixed, some quicker than others. I am working through the list as time and knowledge permits.

[2019-05-28 06:56] CrazyFin opened #111 "Latest Verisure system update in Sweden (1-3 days ago) is causing issues to login"
I get this error message:

Verisure Error                  AttributeError: Unable to login to Verisure (5), retry in 300 sec. Reason: 'NoneType' object has no attribute 'group'

[2019-05-28 07:25] CrazyFin commented on #111
Sorry, I downloaded the code and tested in terminal window on my MAC and it all works good.
It must be an issue in the Versiure plugin in Indigo that uses this code.

[2019-05-28 07:25] #111 closed

[2019-05-31 09:41] thomasgermain opened #112 "session.get_history: params notificationCategories vs eventCategories"
Hi,

I was looking for a way to figure out if my alarm is ringing or not (for home automation goals).

I realized that `session.get_arm_state` only returns armed or disarmed, which sounds logic after all.

So I started looking at `session.get_history` and through `mypages.verisure.com` GUI. You're code allows me to pass filters so I decided to to something like this:
[code]
This basically means gi

[2019-06-01 09:56] persandstrom commented on #112
Hi Thomas,

Good catch, please do a PR

[2019-06-03 05:46] #112 closed

[2019-06-14 06:45] follox commented on #81
@jamiewalters Since nothing has happen they closed your ticket.
How should we go about this? Do you need to go back to start again?

![image](https://user-images.githubusercontent.com/43533933/59488778-baa75f80-8e80-11e9-9cb7-a3df3d0380ea.png)

[2019-06-14 06:49] follox commented on #81
@persandstrom has asked you @jamiewalters several times if you need help regarding this. Is this something he can look into for you?

[2019-06-19 09:16] follox commented on #81
@taugusti Anything we can do about this?

[2019-06-19 19:29] taugusti commented on #81
Hi @follox
I wiould also love to get this integrated into hass - it is great work that @jamiewalters and @persandstrom  have done!

I do not have the time to find out how this works and can be integrated into hass at the moment... and for the next year (studying mba nex to my full time++ job) .
So - if someone does something, I can test (I have a panasonic heat pump on verisure). but more than tha

[2019-06-27 09:25] follox commented on #81
@taugusti Alright, I think this will just stop now as the case is closet. Is the heatpump working in your hass? Mine has stopped working completely.

[2019-06-30 20:33] johnkristijan opened #114 "Change Door Lock Code"
Thanks for creating this python repo ;)

I was testing it out and did not find a way to change the 6 digit PIN code that I have set on my Yale Doorman Lock (connected via Verisure).

Is there any way to change the doorlock code?

[2019-07-02 19:58] persandstrom commented on #114
Hi,

No, you can't change codes. I think It would be possible to add for someone who has a yale lock thought. If it can be done from the app it's very likely that python-verisure can add it. May I ask what your use case is, I'm curious? 🙂

[2019-07-02 23:17] johnkristijan commented on #114
Ok. Thanks for clarifying. I have created a booking web page for a local community organization where we hire out 2 apartments with Yale doorman locks installed. So now the booking process is all automated with payment etc. but we are lacking an automated way of changing the customers’ PIN codes that they use during their stay. Now it’s changed manually in the Verisure app on someone’s smartphone

[2019-08-13 12:08] SalkinDK commented on #100
[Same problem in homeassistant](https://github.com/home-assistant/home-assistant/issues/25897#issue-479776202)
Short story i trigged my alarm and the homeassistant component didn't change state. :(

[2019-08-14 06:33] xibriz commented on #100
It seems like the `armState:statusType` don't change but there is another attribute `alarms` that is added when the alarm is triggered.

Don't know if `alarms` is an attribute of `armState` or it is elsewhere..

[2019-09-16 17:04] Cebeerre commented on #88
May I ask you how you managed to sniff the traffic ? I've tried to proxy the requests but they seem to be doing certificate pinning. I've tried as well to repackage the app with the Frida library, but then I cannot load the app. It just hangs ...

Any help is more than welcome !

Thanks,
Xavi

[2019-09-16 17:07] efpe commented on #88
Hey Xavi,

I used `mitmproxy` on a Mac OS and proxied the traffic through from an iPhone.

[2019-09-16 17:11] Cebeerre commented on #88
I used the same approach, but with an Android. Maybe they are not doing the certificate pinning on IOS. Will try with an an iPhone ...

Thanks !

[2019-09-16 17:13] krambriw commented on #88
Hello efpe,
With this method, are you able to see push messages sent to the app?

[2019-09-17 18:36] Cebeerre commented on #88
Thanks @efpe, I finally managed to sniff the traffic with an iPhone. They do certificate pinning in Android, but they trust the user installed CAs on IOS ...

@titoudoc I've created an API Client for the Spanish accounts (might work with others that use the same API system):

[https://github.com/Cebeerre/VerisureAPIClient](VerisureAPIClient)

[2019-09-18 16:13] SalkinDK commented on #100
@xibriz @persandstrom
And there is no way to implement this attribute to the component?

[2019-11-21 21:20] thomasgermain opened #116 "Is there a way to know there is a firmware update ?"
Hello,

i'm trying to find a way to know when there is a firmware update.

I currently have a waiting update, but i'm not able to find anything related to an update in the API. I can only see my current firmware version with `vsure username pass installations`.

I think there is a way through the API since the android is able to tell me there is an update.

Do you know how can I achieve that ?

Th

[2019-11-24 12:24] atakacs opened #117 "Invalid credentials gives confusing error"
Using invalid credentials (or an account without any installation (e. g. haven't yet accepted invitation) gives a somewhat confusing error:

    Traceback (most recent call last):
      File "/srv/homeassistant/bin/vsure", line 10, in <module>
        sys.exit(main())
      File "/srv/homeassistant/lib/python3.7/site-packages/verisure/__main__.py", line 214, in main
        session.login()
      F

[2019-11-24 15:13] persandstrom commented on #117
Hi @atakacs

When I an invalid username/password I get the following error:

[code]

Do you use the latest version?

[2019-11-24 15:28] persandstrom commented on #116
Hi,

Yes, it should be possible to get that information. I would need to capture the communication when that page is requested. I can look into that, when I get some time over. If you want to do that yourself you can set up a reverse proxy, like Charles and configure your phone to use that proxy (I have not got that to work with later version of android, so you might need to get hold of a phone th

[2019-11-24 16:26] thomasgermain commented on #116
I already tried checking website request, but apparently the full html page is rendered server side.

I'm gonna try decompiling the android app.

Thanks for the tips, i'll let you know

[2019-11-24 19:45] atakacs commented on #117
I ran it on 1.5.2. Doesn't look like anything related to this has changed since but I may have missed something.

[2020-01-16 13:03] jacha05 commented on #100
Would be implement the alarm state for fire, intrusion etc

[2020-01-16 13:07] jacha05 opened #118 "Read autolock state on yale"
In the verisure you can see the state if autolock is enabled or not. I know you can set it auto/off. But would be nice if we could get the state in the doorstatuslist.

[2020-02-01 09:50] bazwilliams opened #119 "Authentication issue for UK installation"
We've recently had a Verisure alarm installed in the UK. If I attempt to login using the same credentials required for the mobile app (My Verisure) I receive the following error:

[code]

I've tried with my email address and also with a secondary user account created within the app. I suspect the 'My Verisure' app is unfortunately using a different API.

[2020-02-02 20:05] persandstrom commented on #119
I know that the script does not work for all regions, like Spain, that could be that case with UK as well. As you say, there seem to be one verisure API, and a securitas API.

[2020-06-26 14:48] PetrolHead2 opened #120 "API unavailable"
Hi,
Since the update of the app the 8th of June it looks like Verisure have changed their API.
The Verisure My Pages seem to be using a new GraphQL API.
/PH

[2020-06-26 18:12] persandstrom commented on #120
Hi,
I have not noticed any problems yet and can still use the script. I'll keep an eye out but can't really do any development until it changes for me.

[2020-06-26 18:27] krambriw commented on #120
Might be country/region specific. Still works perfect here for me in Sweden

[2020-06-26 19:41] turbokongen commented on #120
Works good in Norway too:ok_hand:

[2020-07-02 07:45] PetrolHead2 commented on #120
Yes, it works fine!
Had to do a restart of home assistant and after that it works fine.
Just bad timing that is started to fail just after an upgrade of the app.

[2020-07-02 07:45] #120 closed

[2020-07-27 18:40] JohNan opened #121 "Power loss event?"
Hi,

In the app I get notified when there's a power outage and it is also visible in the history tab in the app. Is it possible to have a binary sensor that flips to true if there's a power outage?

[2020-07-29 21:32] persandstrom commented on #121
Hi,

I have not been able to catch notifications. You can view the history with the ```eventlog``` command and the power outage should be visible there. This module do not keep any state of your system so it will not be aware that something has changed, you will have to keep track of that in your application.

[2020-07-30 07:43] JohNan commented on #121
I did try the eventlog but could not find the power loss event. Do you know in what category it might be?

[2020-07-30 07:55] krambriw commented on #121
I don't think it is registered in the history. I know I had a power loss not long ago when they changed the meter but I cannot find any power loss event in history even if I look 1 year back

It's a pity they seem not willing to make an open api for notifications so that Verisure could be integrated with home automation more efficient. Having to poll is what we do but kind of stone age. Besides, i

[2020-07-30 09:13] persandstrom commented on #121
Is it possible to trigger the power loss event? I tried to unplug the main unit, but did not get any indication. Do I have to wait until the backup battery is depleted?

[2020-07-30 12:47] krambriw commented on #121
There is a timeout but I think it is several, maybe at least ten minutes

[2020-08-13 07:07] persandstrom commented on #121
I did a test and noticed that the power outage is visible in the overview.
[code]
When the cable is plugged back in again the item in the installationErrorList is removed again.

I guess you can use the existence of this error as a "flag".

[2020-09-02 12:50] thomasgermain commented on #116
I came back to this feature request: I found a way to know if there is firmware update, (I checked from my pages website).

**POST** https://m-api01.verisure.com/graphql
- content-type: application/json
- Cookie: country=BE; language=fr; sEc.verisure=[redacted]; vid=[redacted]; username=[redacted]; vs-access=[redacted]

Payload:
[code]

wich is giving this response:
[code]

So I don't know if it c

[2020-09-03 18:28] persandstrom commented on #116
I have added a new command ```firmware_status```, the output will inform if the firmware is upgradable

[2020-09-03 19:50] thomasgermain commented on #116
Works like a charm, thanks :)

[2020-09-03 19:50] #116 closed

[2020-10-07 06:57] krambriw opened #123 "Is Verisure down or broken?"
Stopped working this morning. Is this also the case for you?

[2020-10-07 08:36] persandstrom commented on #123
It's working for me, do you still experience this problem?

[2020-10-07 10:49] krambriw commented on #123
I found the problem!!! They have changed the response to the session.get_overview(). Before the smart plugs where listed in overview['controlPlugs'] and now we find them in overview['smartPlugs']
My script is working again, your code is working fine, it was on my side when I wanted to get the statuses of all my smart plugs

[2020-10-07 10:49] #123 closed

[2020-10-08 23:24] Soleg06 opened #124 "UserTracking tab missing?"
Up until recentely when I called the get_overview() command I got a "userTracing" tab in the json reply but now its missing. Anybody knows if Verisure hidden it or if the information is avalible somevhere else=

[2020-10-26 14:08] MagBuchSB1 commented on #60
Hi. No update on the API to get older climate data? Where on the website can you se older data?

[2020-11-15 12:03] j-vizcaino commented on #119
Stumbled upon this today as well, trying to get the Verisure integration working with Home Assistant.
At least for french customers, the site does not use the `verisure.com` endpoint but some `securitasdirect.fr` endpoint.

[2020-11-15 12:05] bazwilliams commented on #119
This version might work https://github.com/segalion/securitasdirect it seems verisure have a few different backend systems.

[2020-12-21 19:31] Reidar6 commented on #118
Any news on this one?

[2021-01-06 18:58] petertufvesson commented on #124
I also miss this...

[2021-01-25 13:56] nckslater commented on #119
I live in Spain and use the Verisure app. Thanks for this integration. I have the alarm panel working perfectly. Is there any plans to add the various sensors and cameras? Thanks

[2021-02-01 16:50] persandstrom commented on #124
Sorry for a very late reply!
The current implementation is using an old API, which means that I am no longer able to find out how to add new or find modified commands.
I am working on a new version, which is still under development in the ```m-api``` branch, where user tracking is present. You may use that one but it is not in a stable state yet and lack support for other things, such as camera, m

[2021-02-02 05:37] krambriw commented on #124
Hello Per,
Been using your verisure sw successfully for several years now. Does the new m-api bring  any particular benefits in comparison? Like does it support push messaging or subscriptions to events?

[2021-02-02 06:26] persandstrom commented on #124
No, no big benefits for the end user like push messaging or events. It offers a lot more flexibility in what information to request from the servers, the API is build using GraphQL if you are familiar with that technology.

[2021-02-28 18:57] ptz0n opened #127 "Response from new auth URL's don't respond with cookie"
Hi all, I'm maintaining the Node.js module and Homebridge plugin for Verisure and have identified problems with these new endpoints.

We receive a HTTP 200 response, but without the set-cookie header `vid`. As you know, this is the cookie we use to auth other requests.

So far, users in Belgium seem to be affected.

Have you seen or heard anything regarding this strange behavior?

[2021-02-28 21:11] persandstrom commented on #127
Hi!

I have not had any reported issues on the new endpoints so far. Home-assistant is still using the old endpoints though and will update to the new ones on Wednesday. So if there are any issues for Belgian (or other) users I guess we will see some reports later this week.

[2021-03-01 09:08] hoefs commented on #127
https://github.com/ptz0n/homebridge-verisure/issues/101

Since last week, I am unable to use the plugin. Seems like the login procedure was altered.

[2021-03-01 09:17] persandstrom commented on #127
@hoefs Take a look under settings in MyPages and see if there is any way to opt-out from two factor authentication, we have not yet had this update in Sweden

[2021-03-01 09:32] hoefs commented on #127
I was searching last night in mypages, but couldn't find it, until now:
![verisure2](https://user-images.githubusercontent.com/7440522/109478346-6a6b9900-7a79-11eb-9a49-d3ae65cf39ea.png)

[2021-03-01 09:44] persandstrom commented on #127
Great, glad to be of help

[2021-03-02 09:06] #127 closed

[2021-03-11 10:55] thomasgermain opened #128 "Verisure 2 step verification auth"
Hello,

I just received a email from verisure (from Belgium) about 2 step verification:

It sounds you can disable it, but I think it should be handled.

[code]

[2021-03-11 11:18] CrazyFin commented on #128
Verisure in Sweden seems to have started to push for 2FA as well.
This morning I received the same email from Verisure here in Sweden.

[2021-03-12 06:19] krambriw commented on #128
"In order for us to get valuable input for potential future improvements for users that have a 3rd party integration to Verisure, we have created a short survey as part of the Disable 2-step verification steps."

I think this is maybe the most interesting part in their move. Seems they are now leaning towards an acceptance for 3rd party integrations. Maybe this has changed with the current owner.

[2021-03-12 10:35] dulemis commented on #128
I have enabled 2FA and then disabled it again, but vsure gives below error now:

"name='vid', domain=None, path=None"
"name='vid', domain=None, path=None"
Traceback (most recent call last):
  File "/opt/bin/vsure", line 33, in <module>
    sys.exit(load_entry_point('vsure==1.7.2', 'console_scripts', 'vsure')())
  File "/opt/lib/python3.9/site-packages/verisure/__main__.py", line 222, in main
    s

[2021-03-12 11:00] ptz0n commented on #128
Some progress in documenting the JWT flow here: https://github.com/ptz0n/homebridge-verisure/discussions/107

[2021-03-13 09:37] ptz0n commented on #128
The full MFA flow is now documented with a suggested solution up for discussion: https://github.com/ptz0n/homebridge-verisure/discussions/107

[2021-03-26 12:47] dulemis commented on #128
When will this be implemented?

[2021-03-26 16:30] ptz0n commented on #128
@dulemis If you get and store, use your `vid` cookie, you don't have to login. The Homebridge plugin [provide a tool](https://github.com/ptz0n/homebridge-verisure#multi-factor-authentication) for obtaining this cookie for users with MFA.

[2021-03-26 17:04] krambriw commented on #128
Yes, thats fine if you use Homebridge.

But assume a setup where you just use simple a python script. How shoud you then treat and handle this? I think we are many users having just a home brewed script so it would be really great if we could get a kind of guidance with the necessary steps or a sample simple python script that can handle the 2 step verification with the cookie handling

[2021-03-26 22:11] persandstrom commented on #128
Thanks to @ptz0n's great work I will be able to have something ready in a not too distant future. If you are interested in progress or testing for yourself have a look at the [mfa](https://github.com/persandstrom/python-verisure/tree/mfa) branch.
This version has a new ```mfa``` command . ```python -m verisure [user] [passwd] mfa``` which will request a verification code which you enter in command

[2021-03-31 13:51] dulemis commented on #128
Hi Per,

It seems to work on my Python3 system, but not on Python2 (i know its deprecated, but if its an easy fix..?)

Enter verification code: XXXXXX
Traceback (most recent call last):
  File "/usr/local/bin/vsure", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/verisure/__main__.py", line 229, in main
    code = input("Enter verification code: ")
  File "

[2021-03-31 20:11] persandstrom commented on #128
Thanks for reporting @dulemis, I have fixed that now (version 1.8.1)

[2021-03-31 20:55] dulemis commented on #128
I upgraded and tried again, but get the same error.

[2021-04-01 05:24] persandstrom commented on #128
That's strange. Same row number as well?

```File "/usr/local/lib/python2.7/dist-packages/verisure/main.py", line 229, in main```

[2021-04-01 07:00] dulemis commented on #128
Enter verification code: w4fll2
Traceback (most recent call last):
  File "/usr/local/bin/vsure", line 8, in 
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/verisure/__main__.py", line 236, in main
    code = read_input("Enter verification code: ")
  File "/usr/local/lib/python2.7/dist-packages/verisure/__main__.py", line 40, in read_input
    return input(text)
  File "", lin

[2021-04-02 14:13] persandstrom commented on #128
It works fine on my machine ;)

can you try to open a python terminal and type ```__builtins__.raw_input("test: ") ```

[2021-04-02 21:06] dulemis commented on #128
# python
Python 2.7.3 (default, Mar 14 2014, 12:37:29) 
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

test: 

[2021-04-05 19:53] persandstrom commented on #128
This is strange indeed. The code test if  ```__builtins__``` has an attribute called ```raw_input```  which you prove with with the test that is does, the same thing is done in the verisure script but the result differs.  The next test you could do is to edit the installed file ```/usr/local/lib/python2.7/dist-packages/verisure/__main.py__``` and replace line 40 to use ```raw_input``` instead of `

[2021-05-24 20:21] tobiasloevgren commented on #128
Had the same problems as dulemis, this worked for me.

[2022-01-20 01:31] Jolanrensen opened #132 "Smart lock does not appear"
When retrieving the overview, "doorLockStatusList" appears to be empty. This while we do have a Verisure smart lock.

I haven't checked to open it yet (I don't wanna ring any bells at the security firm for messing with the software too much), but reading the state of the lock would be useful.

The lock does show up in the event log (where I've redacted some IDs):

[code]

Not sure if that helps :)

[2022-01-20 12:55] ptz0n commented on #132
Interesting, maybe Verisure have moved the information to another property or endpoint all together?

[2022-01-20 13:10] Jolanrensen commented on #132
Could be! Anything I can try to check?

[2022-01-20 20:18] ptz0n commented on #132
I don't have any smart lock in my installation. Check the overview:

[code]

[2022-01-21 12:57] Jolanrensen commented on #132
The doorlock isn't visible in the overview at all. Like I said, the doorLockStatusList is "[]" and for the rest there is no mention of a smart lock. Perhaps they moved it to another endpoint indeed. Are there any docs or other implementations we might be able to look at?

[2022-01-21 14:57] persandstrom commented on #132
As you say, it's possible that they have moved the lock info away from the overview. I am not able to verify that since I do not own a lock (yet). There are no docs so I usually set up a man-in-the-middle using Charles proxy (charlesproxy.com) and record the communication between the app and the server. I would be happy to accept a patch with a fix the issue.

[2022-01-21 16:13] Jolanrensen commented on #132
Using charlesproxy I see the app connect to https://m-api01.verisure.com

However I seem to be getting 404s when trying to log in with that url

[2022-01-21 16:42] persandstrom commented on #132
Oh, that's right. I pointed you in the wrong direction. They have a new api now for the app, and I started a branch for that ( the branch is called "m-api") some time ago. Totally forgot about that. Do not really remember the state, but it is not compatible with home assistant.

Let me see what I can figure out.

[2022-01-21 17:02] Jolanrensen commented on #132
I see, it's a lot different indeed, now using GraphQL

Haha, it appears OpenHAB beat us to it https://github.com/openhab/openhab-addons/blob/da59cdd255a66275dd7ae11dd294fedca4942d30/bundles/org.openhab.binding.verisure/src/main/java/org/openhab/binding/verisure/internal/VerisureBindingConstants.java
I'll actually have a look to see whether OpenHAB can see my doorlock actually!
Edit: Turns out I do

[2022-01-23 13:21] persandstrom commented on #132
I have heard from others that the lock status works, so the status does not seem to happen everyone.

Maybe if you could answer a few questions I could try to narrow the issue down in my head:
* Have you ever seen the lock status for this lock in the overview or home-assistant?
* Is it a new lock?
* Which lock model do you have?
* Where are you from? (I guess Netherlands or Belgium :) )
* Are you

[2022-01-23 14:07] Jolanrensen commented on #132
Nope, it does not appear in the overview or Hass, just the Verisure app.
Yes, it's new.
I suspect it's the Danalock v3. At least, that's what it looks like. It just has the Verisure logo on it.
Netherlands :)
Yup. Other sensors work perfectly, also in Hass.

I think we'll need the m-api for the lock. The m-api also seems to support @Home, which provides presence detection.

[2022-01-23 15:17] persandstrom commented on #132
Nice, I thought that Yale were the only lock that worked with verisure.

Could you try with the m-api branch of this project and see if it you can find the lock?

[2022-01-23 15:58] Jolanrensen commented on #132
After running the login() and set_giid() functions,
`sesion.request(session.smart_lock())` results in (prettified and redacted):

[code]

Let's see if I can open it :) (Edit: LockDoorInput is not yet implemented)

[2022-01-23 16:29] Jolanrensen commented on #132
Yes it works :D Needed a slight modification (stolen from OpenHAB):

[code]

[2022-02-19 01:28] Soleg06 opened #133 "Error trying to use m-api"
I'm trying to use the new m-api but I can't seem to log in,  what am I doing wrong??
I get these errormessages

LoginError: Failed to log in

AttributeError: 'Session' object has no attribute '_cookies'

Edit: Solved it! Needed to disable two factor authentication on my account. Got a totally different cookie now!

[2022-05-21 09:45] jacobhallgren opened #134 "Read autolock status"
Would be nice like in the verisure app to see the state of the lock. If autolock is enabled or not.

[2022-05-21 19:41] persandstrom commented on #134
Hi,

You can see that using the overview command.

[2022-05-21 19:49] jacobhallgren commented on #134
Which field?

The "method" that says auto is just if it was locked by the autolock. Not if autolock is enabled.

[2022-05-21 21:13] persandstrom commented on #134
You are correct! I recently got a lock myself and i'm not very familiar with it yet.

I added a new command to the the [m-api branch](https://github.com/persandstrom/python-verisure/tree/m-api), '--door-lock-configuration'. This branch only has support for the devices I own so far...

Sadly I can't add new commands to the master branch due to that the app has changed to a new API

[2022-05-21 21:23] jacobhallgren commented on #134
Thank you will try that out. Another question do you know a good way to read events like firealarm and get that info in to home assistant? Is there someway to run this script from home assistant and get info like water leak, fire etc.?

[2022-05-21 21:56] persandstrom commented on #134
Possibly you could get the information from the event log, but I would not call that a good way, and it is not supported by home-assistant so you would need to use a shell command or similar.

I added a command for setting auto-lock enabled/disabled and event-log to the m-api branch as well.

[2022-05-22 05:52] krambriw commented on #134
In my experience a good way to provide Verisure status information of all kind is to run a Python script with the python-verisure module and publish/subscribe to a MQTT broker. This would give you a generic solution that most "modern" sw including HA and Node-RED supports. I do that since years, including support for commands to SmartPlugs, rock solid. Only disadvantage is that we still have to po

[2022-05-22 09:02] jacobhallgren commented on #134
This sound like a good solution. Can you explain a bit more in detail how I can achieve that. Share your setup or so? I'm also using node red. I short what I want to accomplish is turn on all lights when fire alarm is triggered. For getting instant alerts when something happens I create automations in verisure to turn on a smartplug, thats connects to a shelly 1. When Home assistant see the sensor

[2022-05-22 09:53] persandstrom commented on #134
@jacobhallgren not at the moment. And I'm not sure how to do it. I'll add an investigation of that to my to-do list.

[2022-05-22 19:24] jacobhallgren commented on #134
@persandstrom Thanks, really appreciate it. Would open up so many possibilities with instant alerts on event.

[2022-05-22 20:20] persandstrom commented on #133
Sorry for the late reply, missed this one. Great that you solved it!

[2022-05-22 20:20] #133 closed, assigned to nobody

[2022-05-24 05:22] persandstrom commented on #134
@jacobhallgren I cant find a solution on how to capture push notifications. You could enable email notifications and trigger on those.

[2022-05-27 16:59] jacobhallgren commented on #134
@krambriw Can you share more in detail about your setup?

[2022-05-28 05:59] krambriw commented on #134
I can make a write up and provide examples of what I did
I run a python script, Node-RED and Mosquitto MQTT broker, all on a Raspberry Pi. Currently just supporting arm statuses and smart plugs but I see no reason why it cannot be extended if needed

You will have to install some additional stuff
- install Mosquitto MQTT broker
- install the python-verisure module
- modify a file in python-verisur

[2022-05-31 19:00] jacobhallgren commented on #134
@krambriw Thank you for the details. Yes I feel comfortable with that. Please provide the script details. Do you also use this with Home Assistant?

[2022-06-01 06:01] krambriw commented on #134
I do not use HA anymore, I did earlier with some Z-Wave devices but all is now replaced with Node-RED. The script supports MQTT so you should be able to use it along with HA as well

In the attached script you need to add your configuration details:
Your verisure user name and password, your ip to your MQTT broker
username = 'your_username'
password = 'your_password'
locale = 'sv_SE'
mqtt_broker =

[2022-06-02 13:04] RosiersRobin opened #135 "Documentation API"
Hi,

Where could I find the API docs?

[2022-06-02 15:54] persandstrom commented on #135
The is no more documentation than what you find in the readme, and the documentated methods in  python-verisure/verisure/session.py

[2022-06-19 15:10] RosiersRobin commented on #135
I mean the API docs from verisure themself. How could you have built this otherwise?

[2022-06-19 15:15] krambriw commented on #135
Reverse engineering my best guess!!

[2022-06-19 15:22] persandstrom commented on #135
Yes, by recording the traffic to and from my phone

[2022-06-20 14:12] RosiersRobin commented on #135
Poah, respect! Thakns for the info! :D

[2022-06-20 14:12] #135 closed, assigned to nobody

[2022-07-04 19:52] #119 closed

[2022-08-04 09:06] niro1987 commented on #132
Is there anything we can do to help you out?

[2022-08-17 20:59] persandstrom commented on #132
Thanks for asking!

What is lackning is an integration component in HA which is using the m-api branch. I will not be able to prioritize that myself. If someone would take on that task I could of corse offer some guidance and do any changes needed to the python-verisure lib.

[2022-08-27 09:24] niro1987 commented on #132
Fixed in #140

[2022-09-04 20:23] niro1987 opened #145 "XBN Database is not activated"
This is related to the `m-api` branch

During `login`, two url's are used, `https://m-api01.verisure.com` and `https://m-api02.verisure.com`.
The url that is successfull is stored for later use as the `base_url`. Login is succesfull on `https://m-api01.verisure.com` but `get_installations` failed with errorMessage `XBN Database is not activated`.

Swapping the two login urls fixed it for me but th

[2022-09-05 15:12] hnrkp commented on #145
Well, if you get the "XBN Database is not activated" like this:

[281472425272144] Invalid response, status code: 503 - Data: {"errorGroup":"SERVICE_UNAVAILABLE","errorCode":"SYS_00004","errorMessage":"XBN Database is not activated"}

then that's the api server telling you to switch site since the one you are connected to isn't active. So I would check for the SYS_00004 errorCode and try the other

[2022-09-26 10:58] #145 closed, assigned to nobody

[2022-10-01 14:46] Jolanrensen commented on #132
If it's fixed, I'll close it, thanks for the awesome work! Unfortunately, I don't have the lock anymore since my door lock was too heavy :( (Thanks, Verisure salesman...)

[2022-10-01 14:46] #132 closed, assigned to nobody

[2022-10-17 06:40] joszz opened #151 "MFA broken?"
I've used this API successfully for some time, but today I noticed it broke doing the MFA verification.

I'm not sure if it's because of the update to version 2.5.3, or something changed @ the verisure API side.
After waiting some time I get the error below.
If I can provide any more info, or if I have to test in another way, please tell me :)

[code]

[2022-10-17 07:04] ptz0n commented on #151
HTTP 504 - Verisure's fault.

[2022-10-18 15:07] joszz commented on #151
MFA does seem to work with the app or on verisures own website though... So I'm not 100% convinced it is a verisure problem. Maybe they just sent a 504 but block the request coming from anything other than first party software or something to that extent?

[2022-10-18 19:55] persandstrom commented on #151
MFA works fine for me.

Error 504 is a gateway timeout error, but the content seems strange I must say.

Do you still get the error?
Have tried to remove the cookie file ```~/.verisure-cookie```?

[2022-10-19 14:16] joszz commented on #151
I still get the error.
I forgot to mention a crucial detail it seems, my bad; problem only seems to occur inside a docker container and not on the host.
Although before it worked perfectly fine in the same container. Something must've changed, unsure of what (not the firewall or anything obvious it seems).
must be an issue on my end, but still clueless. Doesn't seem to work with host networking as

[2022-10-21 19:33] joszz commented on #151
I'll close this for now since it's most likely an issue somewhere on my end. Will investigate further

[2022-10-21 19:33] #151 closed, assigned to nobody

[2022-11-09 13:20] joszz opened #156 ""Device not claimed" when doing camera-get-request-id"
When I try to do an image capture from a camera, I first need to have a request id.
When I try
vsure [username] [password] --camera-get-request-id "[device_label]"
([device_label]  I acquired through --cameras. It needs quotes I believe since there's a space in the label. Tried without quotes, and single quotes to no avail)

I get the following output;
`{
    "errors": [
        {
            "mes

[2022-11-09 13:39] joszz opened #157 "Retrieve firmware status"
In older versions it was possible to retrieve the firmware status.
Is this still possible with the lastest versions? I do not see any applicable command for this

[2022-11-09 18:14] persandstrom commented on #157
Hi,

I have added a function to read firmware information, please take a look at version 2.6.0

[2022-11-09 19:28] persandstrom commented on #156
You are correct, the quotes ```"``` are needed.

Do you have another user for your automations than you use for the app? In that case, can that user see the cameras in the app?

[2022-11-09 21:20] joszz commented on #156
I'm currently testing with the same user as I'm using for the app.
That user can see the cameras in the app, take pictures etc.

[2022-11-09 21:45] joszz commented on #157
Awesome thx a bunch!

[2022-11-09 21:45] #157 closed, assigned to nobody

[2022-11-10 12:54] joszz commented on #156
I'm not so well versed in python but if there's a way to provide you with some more details, let me know and I'll try to get more info.
I'm willing to test/debug things, but clueless where to start.

[2022-11-10 16:01] persandstrom commented on #156
The only thing I can think of is is to record the communication between the app and verisure backend. I use Charles proxy for this. Try to compare the graphql commands between the recording and python-verisure to see if there are any discrepencies.

[2022-11-10 21:42] joszz commented on #156
Bit of a learning curve here :)
I see that Charles proxy is only free on trial basis so I tried having a go with postman which I've used before as a local proxy on windows intercepting http traffic (I also have a little bit of experience using burp, but also just with local stuff).
It works on my phone capturing traffic but only for Chrome, I'm not sure why yet. Apps don't seem to capture any requ

[2022-11-13 21:30] persandstrom commented on #156
I have managed to capture traffic using two different methods (both Android).

The first one is simple:
Get an old device running an older version of android, I have a Nexus 5 with Android  6.0 and Charles can capture traffic from apps. I do not know at which version they added extra security.

The other option is a bit more complicated:
Root an android, you can read more here: https://www.xda-dev